output/
models/
inference/
data/pics/AI
data/pics/Mask
data/pics/output
data/pics/try
data/pics/test
data/pics/processed
testdata/
val_data/
runs/
*.zip
*.pt
*.pyc
data/
tests/files/split_data_4.42
*.rar
*.tgz