swagger: '2.0'
info:
  title: Dental X-ray Inference API
  description: API to infer information from dental X-ray images.
  version: 1.0.0
host: api.smartsurgerytek.net
basePath: /dentistry-stg/
schemes:
- https
paths:
  /:
    get:
      summary: Read Root
      operationId: read_root__get
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful Response
          schema:
            title: Response Read Root  Get
            type: string
  /v1/pa_measure_dict:
    post:
      summary: Generate Periapical Film Measure Dict
      operationId: generate_periapical_film_measure_dict_v1_pa_measure_dict_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PaMeasureRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/PaMeasureDictResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pa_measure_cvat:
    post:
      summary: Generate Periapical Film Measure Dict
      operationId: generate_periapical_film_measure_dict_v1_pa_measure_cvat_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PaMeasureRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/PaMeasureCvatResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pa_measure_image:
    post:
      summary: Generate Periapical Film Measure Image Base64
      operationId: generate_periapical_film_measure_image_base64_v1_pa_measure_image_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PaMeasureRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/ImageResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pa_segmentation_yolov8:
    post:
      summary: Generate Periapical Film Segmentations Yolov8
      operationId: generate_periapical_film_segmentations_yolov8_v1_pa_segmentation_yolov8_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PaSegmentationRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/PaSegmentationYoloV8Response'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pa_segmentation_cvat:
    post:
      summary: Generate Periapical Film Segmentations Cvat
      operationId: generate_periapical_film_segmentations_cvat_v1_pa_segmentation_cvat_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PaSegmentationRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/PaSegmentationCvatResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pa_segmentation_image:
    post:
      summary: Generate Periapical Film Segmentations Image Base64
      operationId: generate_periapical_film_segmentations_image_base64_v1_pa_segmentation_image_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PaSegmentationRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/ImageResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pano_caries_detection_image:
    post:
      summary: Generate Pano Caries Detection Image Base64
      operationId: generate_pano_caries_detection_image_base64_v1_pano_caries_detection_image_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PanoCariesDetectionRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/ImageResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pano_caries_detection_dict:
    post:
      summary: Generate Pano Caries Detection Dict
      operationId: generate_pano_caries_detection_dict_v1_pano_caries_detection_dict_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PanoCariesDetectionRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/PanoCariesDetectionDictResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pa_pano_classification_dict:
    post:
      summary: Generate Pa Pano Classification
      operationId: generate_pa_pano_classification_v1_pa_pano_classification_dict_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PaSegmentationRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/PaPanoClassificationResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pano_fdi_segmentation_yolov8:
    post:
      summary: Generate Fdi Panoramic Xray Segmentations Yolov8
      operationId: generate_fdi_panoramic_xray_segmentations_yolov8_v1_pano_fdi_segmentation_yolov8_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PanoSegmentationRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/PanoSegmentationYoloV8Response'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pano_fdi_segmentation_cvat:
    post:
      summary: Generate Fdi Panoramic Xray Segmentations Cvat
      operationId: generate_fdi_panoramic_xray_segmentations_cvat_v1_pano_fdi_segmentation_cvat_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PanoSegmentationRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/PanoSegmentationCvatResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pano_fdi_segmentation_image:
    post:
      summary: Generate Fdi Panoramic Xray Segmentations Image Base64
      operationId: generate_fdi_panoramic_xray_segmentations_image_base64_v1_pano_fdi_segmentation_image_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PanoSegmentationRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/ImageResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pa_aggregation_images:
    post:
      summary: Aggregate Pa Images Base64 Dict
      operationId: aggregate_pa_images_base64_dict_v1_pa_aggregation_images_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PaMeasureRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/CombinedImageResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
definitions:
  CombinedImageResponse:
    title: CombinedImageResponse
    type: object
    additionalProperties:
      type: string
  CvatSegmentation:
    title: CvatSegmentation
    required:
    - confidence
    - label
    - type
    - points
    type: object
    properties:
      confidence:
        title: Confidence
        description: Confidence score of the segmentation prediction, typically between
          0 and 1.
        type: number
      label:
        title: Label
        description: The class label name for the segmented object.
        type: string
      type:
        title: Type
        description: The type of shape, e.g., 'polygon', 'polyline', or 'point'. In
          this case only 'mask' type exist.
        type: string
      points:
        title: Points
        description: "List of points defining the segmentation shape.\n- For polygons\
          \ or polylines: a sequence of x, y coordinates (e.g., [x1, y1, x2, y2, ...]).\n\
          - For points: [rle_points, ...... bbox_x1, bbox_y1, bbox_x2, bbox_y2]. Note\
          \ that one need to add the mask key for codes in follows\n\nExample usage:\n\
          \n```python\nimport base64\nimport requests\nimport numpy as np\nimport\
          \ matplotlib.pyplot as plt\n\ndef show_plot(image_rgb):\n    plt.imshow(image_rgb)\n\
          \    plt.show()\n\ndef image_to_base64(image_path):\n    with open(image_path,\
          \ \"rb\") as image_file:\n        return base64.b64encode(image_file.read()).decode('utf-8')\n\
          \ndef post_url():\n    image_path = './tests/files/027107.jpg'\n    image_base64\
          \ = image_to_base64(image_path)\n\n    data = {\n        'image': image_base64,\n\
          \        'scale_x': 40/1280,\n        'scale_y': 30/960,\n    }\n    api_proxy_url\
          \ = 'https://api.smartsurgerytek.net/dentistry-stg/v1/pano_fdi_segmentation_cvat'\n\
          \    api_key = 'please describe your api key here'\n\n    params = { \n\
          \        'apikey': api_key\n    }\n\n    headers = {\n        'Authorization':\
          \ f'Bearer {api_key}'  \n    }\n\n    response = requests.post(api_proxy_url,\
          \ json=data, params=params, headers=headers)\n\n    print(f'Status Code:\
          \ {response.status_code}')\n    print(f'Response: {response.json()}')\n\
          \    return response\n\ndef rle2Mask(rle: list[int]) -> np.ndarray:\n  \
          \  rle_int_list = list(map(int, rle))\n    x1, y1, x2, y2 = rle_int_list[-4:]\n\
          \    rle_int_list_filter = rle_int_list[:-4]\n    width, height = x2 - x1\
          \ + 1, y2 - y1 + 1\n\n    total_pixels = width * height\n    decoded = np.zeros(total_pixels,\
          \ dtype=np.uint8)\n    idx = 0\n    val = 0\n    for count in rle_int_list_filter:\n\
          \        count = int(count)\n        decoded[idx:idx + count] = val\n  \
          \      idx += count\n        val = 1 - val\n\n    decoded = decoded.reshape((width,\
          \ height), order='F').T\n    return decoded\n\nif __name__ == '__main__':\n\
          \    response = post_url()\n    results = response.json()\n    yolov8_contents\
          \ = results['yolo_results']['yolov8_contents']\n\n    # example for the\
          \ first teeth segmentation\n    cvat_annotation_dict = yolov8_contents[0]\n\
          \    points = yolov8_contents[0]['points']\n    decoded = rle2Mask(points)\n\
          \    show_plot(decoded)\n    flattened = decoded.T.flatten(order='F')\n\
          \    cvat_annotation_dict['mask'] = flattened.tolist()\n    cvat_annotation_dict['frame']\
          \ = 0\n    cvat_annotation_dict['label_id'] = 561\n```"
        type: array
        items:
          type: integer
  DentalMeasurements:
    title: DentalMeasurements
    required:
    - side_id
    - CEJ
    - ALC
    - APEX
    - CAL
    - TRL
    - ABLD
    - stage
    type: object
    properties:
      side_id:
        title: Side Id
        description: 'Side ID: 0 for left, 1 for right'
        minimum: 0.0
        type: integer
      CEJ:
        title: Cej
        description: 'cemento-enamel junction: the bottom of the crown position'
        maxItems: 2
        minItems: 2
        type: array
        prefixItems:
        - type: integer
        - type: integer
      ALC:
        title: Alc
        description: 'alveolar bone crest: the top of the alveolar bone'
        maxItems: 2
        minItems: 2
        type: array
        prefixItems:
        - type: integer
        - type: integer
      APEX:
        title: Apex
        description: 'cemento-enamel junction: the bottom of the teeth'
        maxItems: 2
        minItems: 2
        type: array
        prefixItems:
        - type: integer
        - type: integer
      CAL:
        title: Cal
        description: cinical attachment Level (CAL). This is the length between the
          point between the CEJ and the ALC
        minimum: 0.0
        type: number
      TRL:
        title: Trl
        description: Tooth Root Length. This is the distance from the CEJ to the APEX
        minimum: 0.0
        type: number
      ABLD:
        title: Abld
        description: 'Alveolar Bone Loss Degree: ABLD (%) = ((Distance from CEJ to
          ALC − 2 mm) ÷ (Distance from CEJ to APEX − 2 mm)) × 100'
        minimum: 0.0
        type: number
      stage:
        title: Stage
        enum:
        - '0'
        - I
        - II
        - III
        type: string
  HTTPValidationError:
    title: HTTPValidationError
    type: object
    properties:
      detail:
        title: Detail
        type: array
        items:
          $ref: '#/definitions/ValidationError'
  ImageResponse:
    title: ImageResponse
    required:
    - request_id
    - content_type
    - image
    - messages
    type: object
    properties:
      request_id:
        title: Request Id
        description: A unique identifier corresponding to the original measurement
          request. A value of 0 indicates that the result will not be stored in the
          database.
        type: integer
      content_type:
        title: Content Type
        description: The MIME type of the returned image (e.g., 'image/png').
        type: string
      image:
        title: Image
        description: Base64-encoded image string
        type: string
      messages:
        title: Messages
        description: Status or informational message. If successful, result in empty
          string.
        type: string
  Measurements:
    title: Measurements
    required:
    - teeth_id
    - pair_measurements
    - teeth_center
    type: object
    properties:
      teeth_id:
        title: Teeth Id
        description: The identifier for the tooth from left to right, starting from
          0.
        type: integer
      pair_measurements:
        title: Pair Measurements
        description: A list of line-based measurements from both the buccal and lingual
          sides of the tooth.
        type: array
        items:
          $ref: '#/definitions/DentalMeasurements'
      teeth_center:
        title: Teeth Center
        description: The (x, y) pixel coordinates representing the center point of
          the tooth in the image.
        maxItems: 2
        minItems: 2
        type: array
        prefixItems:
        - type: integer
        - type: integer
  PaMeasureCvatResponse:
    title: PaMeasureCvatResponse
    required:
    - request_id
    - measurements
    - message
    type: object
    properties:
      request_id:
        title: Request Id
        description: A unique identifier corresponding to the original measurement
          request. A value of 0 indicates that the result will not be stored in the
          database
        type: integer
      measurements:
        title: Measurements
        description: 'List of measurement results. Each item represents the CVAT shapes
          format for points and polylines.


          ### If label is `point`:

          - `label`, `type`, `points` [x1, y1], `teeth_id`, `side_id`


          ### If label is `polyline`:

          - `label`, `type`, `points` [x1, y1, x2, y2], `teeth_id`, `side_id`

          - `attributes`: list of dicts with `name`, `input_type`, and `values`


          `attributes` with `name=''stage''`: values can be `I`, `II`, `III`, or `''0''`'
        type: array
        items:
          type: object
      message:
        title: Message
        description: Informational or status message describing the result of the
          measurement process. No error will be returned empty string
        type: string
  PaMeasureDictResponse:
    title: PaMeasureDictResponse
    required:
    - request_id
    - measurements
    - message
    type: object
    properties:
      request_id:
        title: Request Id
        description: A unique identifier corresponding to the original measurement
          request. A value of 0 indicates that the result will not be stored in the
          database.
        type: integer
      measurements:
        title: Measurements
        description: 'A list of structured measurement results, including `teeth_id`,
          `pair_measurements`, and `teeth_center`.


          **pair_measurements** refers to line-based measurements on both sides of
          a tooth, and includes:

          - `side_id`

          - `CEJ` (cemento-enamel junction): (x1, y1)

          - `ALC` (alveolar crest): (x1, y1)

          - `APEX` (tooth root apex): (x1, y1)

          - `CAL` (clinical attachment loss)

          - `TRL` (tooth root length)

          - `ABLD` (alveolar bone level distance)

          - `stage` (e.g., I, II, III)'
        type: array
        items:
          $ref: '#/definitions/Measurements'
      message:
        title: Message
        description: Status or informational message indicating the result of the
          measurement process. An empty string means no error occurred.
        type: string
  PaMeasureRequest:
    title: PaMeasureRequest
    required:
    - image
    type: object
    properties:
      image:
        title: Image
        description: A Base64-encoded periapical (PA) radiographic image, commonly
          referred to as a bitewing film, used for periodontal assessment The image
          will be analyzed to detect anatomical landmarks, calculate distances and
          determine the periodontal stage
        maxLength: 10000000
        minLength: 1
        type: string
      scale_x:
        title: Scale X
        description: Scale factor for X-axis. Example:If the real-world wdith=40mm,
          pic width=1280 pixel then scale=40/1280=0.03125
        default: 0.03125
        maximum: 1.0
        minimum: 0.0
        type: number
      scale_y:
        title: Scale Y
        description: Scale factor for Y-axis. Example:If the real-world height=30mm,
          pic height=960 pixel then scale=30/960=0.03125
        default: 0.03125
        maximum: 1.0
        minimum: 0.0
        type: number
    example:
      image: /9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAPABQADASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD5/ooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA94/Zv/AOZm/wC3X/2tXu9eEfs3/wDMzf8Abr/7Wr3egAooooAKKKKACiiigAooooAKKKKACiiigAoopcUAJRinAU7bQAzFLin7adsoAjxRipfLpfL9qAIsUuKm8s0vl0AQYo21Y8ul2CgCvto21Y2Cl2j0oAr7TRsqxgUYFAFfZRsNWNo9KNo9KAK+yjYasYFLigCv5dHlmrGKKAK3l0bKs0UAVtlLsqxRQBX2UmyrNFAFbZRsNWaKAK3lmjZVmkwKAK+yjZVjApaAK/lmk2VZooAg8v2o8v2qeigCv5dL5dT0UAQ+UaXyqlooAi8ulEdSUUAR+X70eXUlFAEfl0uyn0UAN2CjYKdRQAm0UbRS0UAJtFG0UtFADdoo2Cguo6mkEqEZBoANgpPLp4IIyKWgCLy6QpTmnjXqaZ9pQng0AIUpNlSJNG/APIp42npQBX2Gk2mrI2k4o2CgCrtpNtWjGKaYqAK+KTFTmM1GVoAjxSU8ikoAbRS4pKACiiigAooooAKKKKACiiigArwf9pADPhk4GT9qGf8Av1XvFeEftIf8yz/29f8AtGgDweiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA94/Zv/5mb/t1/wDa1e714R+zf/zM3/br/wC1q93oAKKKKACiiigAopKKAFopKWgAooooAKXFKBTwlADQKcFqVY6fhVGTj8aAIxHTxHS+amcBhT6AG7QKXA9KWmmRQcEigBSyr1IFRvME9D+NNuU3LkE/hUEUIf8Ahc/71ADnv0U4GPzpjanGB95c/WobjSy7Bk2rWbNoFxJMWEo2+gFAGumqQ5wzpn60rXuQXR02isGXw1cyENHMVx1GKgutJ1aCLZbo0qnqA2KAN86ooIzLH+dD6vGoz5iCuOj0XXJW/wCPMpz1Z614vDl86gSrEP8AgZNAG5/a8J6SpTRqyMeGGKzl8PeQjF5Ywe2Kkt4tLSQW8t7D9oPRN4B/KgC82qKjgF1waf8A2tCq5Zh+FUptEeZ9wdCB0qa20uKNdly0be3FAE39s25XIYCkOswKBk8mq14mi2gLz3EMQHq4FYVz4j8KwZzqdqR/10FAHQya1GHxv49qcutQhcls1yB8XeEYxltQtzn0cUxfFPhCVh/xM4R7bxQB2X9vW+cD+dSrrdmWCl8E1w0uteFJPmi1qFP+2gp9vq/hpjga1AW9TIKAO7bU7VRnzRRHqdrJ/wAtVH41yF1JpbwAwata7iOMyCuTu7q4tpi0V7ZuPaWgD2BruBRlpVA+tQHV7If8txXjk/iTU+Pnt2A9HqJdf1UvwkBGOz0AezDWrMnhz+VNOs24GcGvJYNd1U/MsEJ/4FUz+KdWjfabNCfrQB6kutwOcKrE1YN6rKD5bc+teXW3ifVTJ8mng5GeBU8njbXok50pv++TQB6W2oQR43EjNRXOprBHvRd+egFebR+JNevCGGmjB9R0qw2r6+ik/ZogF9aAO6XV55FytswPvUsd5csMsgGe1cNH4o14LgRQdOxqnN4q8Q+cVRYF+rCgD06K4J4cjPpT0kdyegryv+3dczue7s0z1+fpViDXruQfvtbtY8ejigD0szCMHe3T0qlNrUULEbC30rze48QW3m7X8SwgjrhxVZvF2h20g87XBKR6HigD02LX4ST5qMo7VOut2BXcZwvsa8lufiL4aiU4vXk47Vz918QfDLZIa6Zj6GgD3S48QWSLmK4jcjquaj/4SBNu7YOnc189S/EbRUbMNpcN/vPUL/FG3PC2jgf79AH0GuvyTviMxgemeasnUmUKZXAz6189W/xbSybdBbEH3qcfG2Z5VM1oGUdaAPfX121gOZLiMfjTH8XaQvS8iz3y1fP198X47tSv2BQv1rnJvGtvM7Mbdxn0agD6Xk8a6crEi8h2j3pr+OdKYf8AH3GPoa+aF8UaeYz5iTlj0w1V/wDhJrUfdik692oA+m5PGem8FL0AfWpF8caSDlrrcPSvmY+NAqhUt+O/NR/8JpIGyIePTdQB9NzeOtOPzRXKqAOhFVT4/sXQj7UgPrXziPHEnRocj03VLF40hCsHtgc/SgD36TxrbLhlvEb8aI/GP2h8QSKzegavBYPFenmTMsTjPYCtK18YaRaz+ZEHBH96gD3+11+VrZi2RMPuqO9VJNe1Q/8ALJufSvKofihbcBZlT1IFb2l/EnSi+JNQzn+8BgUAdlFqV/MTmKTnvWjam4zlpgPYmjQvE+iahECl7bNn/aFbRj0pz5vmQc/xbxQBHZ27s25pfyrRCMCNrDFUZdV0qzXabiBQP9oVnT+LtJER2ahAhH+0KAOjwBzSKD1Jrh73xvbiBhDfWxbsS+Ky7Px9Ij7XvbVuem7NAHp1FctZeM7O5HzTQgjr81bVlq9lfKfKnjJHbeKAL9NKg0oYHoQaWgCFo6jK1appUGgCpikqdkxURFADMUlOpCKAEoooHWgBT0pKdTaACiiigArwj9pD/mWf+3r/ANo17vXhH7SH/Ms/9vX/ALRoA8HooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPeP2b/+Zm/7df8A2tXu9eEfs3/8zN/26/8Atavd6ACiiigApKKKACiiigApRQBTwtACAU8LmnKlTKmKAI1jqUKFFRyzrHkDlqgSWWVvUHtQBbJ4+Uio5YPNxlqVVVB87Dj3rH8QeKbHQbRpZZFZ8fKgPWgDW2Q2673ZVA7scVynib4hadoEXyMs0nseK8e8U/EjUdWmdRM0UPZFOK8+v9WuLo7ZJGYe5oA9luPjWsu7EbJjptrFf4xTeeH/AHmAehNeQl2z1phYk0Ae6R/HVBHiSBifp/8AXq/B8e9NSH99bSs/sB/jXzs2aaTigD6RHx90fHNrNn6D/GmSfH/SAnyWkxb04/xr5wNNINAH0BN+0HAWHl6e+O+WrPvv2hLvzP8AQ7CMIP75zXhuKMcUAe1f8NDar5ePsFvu9eazb749eJLmFo4VhgLfxIvIrybFP4x0oA6W7+IPia9l3y6tc59pCKy/+Eg1RrsXLXsxmByGLnNZuKB1oA6q2+Inie0bMWrXIyOhkJqpceNPEFxcmeTU7kyHuJDWC3UUlAF+51rUbpiZryZyeu5yaptNKesjH8abSYzQA7zXP8Z/OjzXHRz+dNxSgCgBfOk7O350onlHIdvzpuKSgCb7bcDpNIP+BGl+33XaeT/vo1XxRigCz/aN2OlxJ/30akXWdQX7t3KP+BmqRFIOO1AGpH4i1SL7l5KD/vGpx4t1gHd9skJx3NYoXLU50A6HNAHRWvj7XbTHl3R69xWk3xV8QPAYnlQ5/i281xO0U0igDtLX4na7bHiYEehpt78TvEN4hT7TsU9lFcXirNravM2EXcfSgDTk8Xa2/W/mH0bFVX1/VJPv3s5+rmqk0DwuVdcEVDigC02p3r9bmU/8DNR/bLg/8tX/AO+qix2pdooAUzyHku350m9z1Y/nSY5p2RigBN57k0mTQeTRjigBOTSigCloAMU3GaXvTqAGEUu3jmnd6TnNACUUuKD0oASjFOFIetACYozS44pKADJpKXrRQA3J9aUMw6E0tJQBPHeXNvgxzOv0arQ8Qart2/bp9o7eYaz8cUmKAL0mtahL9+7mP1c1D9uuTx50n/fVVyOKUCgCx9snPWV/zqeO9nXkSt+dUqkHSgDQXWLyPpO//fRq/YeL9TsJQ8VzIPbca58mo2NAHtHh74v3CFI7xyD2YGvYvDnjez1mNB5qFj3Br40DEcg1s6N4kvtHuVlgmYYOcZoA+3wQwyDkGlryDwH8XbTU0js9QYRy9AxNesJdRSRrIrAo3Rh0NAE/WomT0p28A4Y9ehp9AFVlqOrTpUBFAEeKMUtFABTadTaACiiigArwj9pD/mWf+3r/ANo17vXhH7SH/Ms/9vX/ALRoA8HooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPeP2b/+Zm/7df8A2tXu9eEfs3/8zN/26/8Atavd6ACiikoAKKKKACnCinAUAAFSquaEXNTgACgAVcCoriUxp8vLHpQ8hY7Y+T3NMlMVvG01w4CqMkk0AU0t5pmYyfIvc1nar4i0/wAPQkyTLx781wnjf4rJbmSz0wgsOC9eMan4gvtUmL3M7Pk9CaAPVfEPxTM7stkT6ZzxXnmqeJbi+ctNKzMfU1zZnbpk0xskZzQAs8rStmqxU1ITikJzQBGRxUDE56VZzUbKDQBXzTGqbbTWTigCLNFOKH1pu00AJScU7FITQAlFITS9KADFKOtNzShsGgBzdqTihjmm54oAcD7UGm9KM0ALmjvTc+9KDk0AOpKM03dQAueaO9JmjdQA7IzTSeaTPNGaAF57U7NMBo3c0APJ9KbmjdSZoAWr+mXYtbgMfu96zieaXdigDa1ye2nlV4O45rGo3E8E0h4OM0ALQKQGlDUABwKTNFIaACl3DNNzRmgB/GeKM00GjNAD8Cimg0tABS5puRmm55oAeaSkzRnmgBc0ZpKCaAFzSdKAaQmgB1FJmlBoAMUUZzS5oAKQUZpaADFKBShhikLUAGKU0gNOoAQCkYUtITxQAwikxTs5pDQBLDcSW8geNirA5BBr2X4bfFmSzePTNXkL27fKrN/DXieaRXZGBU4IoA+7LG8jvoVaNg8LDKMKurlDhjkdjXgnwS+IH/MD1GcY/wCWRc/pXvjOAm8cr7UAPqJ0qQEEAjvSkZoAqEUyrDpURFADKQ9aWkNACUUUUAFeEftIf8yz/wBvX/tGvd68I/aQ/wCZZ/7ev/aNAHg9FFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB7x+zf/AMzN/wBuv/tavd68I/Zv/wCZm/7df/a1e70AFJRRQAUUUoHNADhUiLTQOasRr3oAcq4FI+W+UHA7mnZBJGaw9f1uPTbdhvAOOTQBHrnie00SFuhcCvEfGfxLvdWZ7e3kMcPQhT1rK8X+KZdTvZEjc+XnrnrXEuxLHJzQA+S4MjlnySetVurU/BJpu35qAHBecUp+WjGBTWPegBrjIqIjHenM2KiY5oAUnvTN2aXIphFAC5xTWJPem5pCaADPtSE0ozikP0oAbmm96eRTcUAHGafIVKgDrUeKM0AMIpvOak7U3FACM1N3U50NR4NAD91ITTcetJQA7Ipc0yigCTdxSZplGaAJN1JkUykoAkzSZplLQA7dRnim0UAOzSE0lJQA7NGabRQA7PNLz1ptGaAHA0tM7UZoAf8AjSZplFADxjPNKcVHRQA/NGaZRQA/OKXJNR0ucUALRmkNJQA/NJmm0UAPzRmmUUAPzzSZptFADs04GoxTqAHZpCabRQA7NSbl2Yxz61BS0APzRnNMozQA/NPDVFRQBLuoJGKioJoAXNITSUUALTaWkoAmtrmW1nWaFyjqcgg9K+kPhB8R7nWrc6RqEu+eNf3bseSK+aavaTq13o1/HeWkrRyxnIINAH3VDKx+VgPqKmrzL4cfES38V6esM7ql9GMMpP3vcV6RAWaP5utAExGRUDpg1PSEZFAFQim1M61EaAGUUHrRQAV4R+0h/wAyz/29f+0a93rwj9pD/mWf+3r/ANo0AeD0UUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAHu/7N//ADM3/br/AO1q93rwj9m//mZv+3X/ANrV7vQAUUUUAFPUU0DNSotAEka5NTE4HFIo2jNQtITluirQA25nW1t2cnnGa8D+Ifiw3Nw9rDJ3+Yg13fj7xR/Z1g6rJ87DAGa+eb26ku7ppXOSxoAheQsSSeaYR3oakJ4oATNNzzmkZsUzNAEm7rk0xiaCaYxPagBrHNRGnnNRmgAz2ppOKKT3oAQ9M0nandRmmcngUALntRnFFIaAE5zSgUlHNAEhAIwBUZGDTs+lNNADTQBzS0d6ABx0phWpX7UygBhSk2VJ0pQpzQBDspCtWdgPU0zbhqAIfLOM0zaasn6U0rmgCvRT2QimUALRmkooAM0UU4qaAG0UYooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigBaSlpKAFFKabRQA6ikooASiiigBaSlFFACUUUUAaWh63d6FqMd5aSFHQ54NfUXw9+I1r4ntkRnCXigB4yevuK+S60dG1i60XUYru1lZHQ54NAH3Yj713YI+tOrz/4feOk8S6ZEZZFFwBhhnrXfg5GaAEcZFVmGKt1DItAFY0lPIplABXg/7SH/ADLP/b1/7Rr3evCP2kP+ZZ/7ev8A2jQB4RRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAe7/s3/8AMzf9uv8A7Wr3evCP2b/+Zm/7df8A2tXu9ABRRTgKAFUGrEa1Eo5qygwKAEfOMDvWZrF4llp7sx2gDJrUZgiljXk/xP8AE3kW7WkT/M3WgDy/xtrr6rqbgMfLU4FcjirEzGSQse9REUARMO9RM2Klkbn0qBm5oAQnNN74pC1NB5zQBITximlqTNMJoAM5OKGT5c0gJJqUzExbOMCgCsQcZNMqZ3UgADBFRHrQAmKUYpO1BoAUj3oCbj1puaUn3oACMGkbpSZNJnnNAC0dsmjrSnpQA3rSYyaXI7UZFADmB4ptKx6UgoAXd7UmaOOtNzzxQAucUdaKSgBR70cZoBoIoAQ9KiZeam6UEDFAEGKMVIVpMcUANxSgZoxTwKAIytNqwVyKhYYNADaTFPxQBk0ANxSEU8rimmgBuKKdjikNACUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUY4zQAUopKKACiiigAooooAKWkooAKKKKAClpKKAFpKWkoAKKKKAO3+HfiJtI1uKN3IidgDzX13pVxHc6fFLG+4MM5r4RhlaGVXU4IORX1V8HfFA1fQ1tpHzLGMdaAPUaa4ytOooAqMKjPWrDjmq7daAG14R+0h/zLP/AG9f+0a93rwj9pD/AJln/t6/9o0AeEUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAHu/7N/8AzM3/AG6/+1q93rwj9m//AJmb/t1/9rV7vQAU9aaKkUUASxjmpvamRjinMwXk9qAMzXNQSxsZJCcYFfMvi3Vn1PVZXLZAPFevfE3WhBZNCjEFq8GnJZyx5JNAFcjNMOQKl59KYwyM0AVXNQO3pU8nXpVVjzQAjGmAnNBpvIoAlHSmsRSg8U0jNACDg0pIIpKRmCigBppBxyaM5PSkJoAGIzmmk0GjGaAEz7UdaWkz2AoAMetLxSGkoAd34pDzTu1Nxk0ANpQD1oIpRQAMOlIOlPOOKQ47UAN5pCD6U7OKczbuo/KgCMUvWjvQKAAUc0vFJQAhzSc06k6daADtzS4z0oJGBikyaAHDHcUDA603PrRQBLkHpUDg5p2TQ1AEYWgCpFFNAoATrTSDTjwaXtQAztSFal2jGaSgCLbRtNSmmmgBm2kxUmKQigCPFGKfikoAbRTsUmKAEooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigApaSloASiiigAr1D4Ma62m+KYrdm/dynGK8vrY8MXzafr9pODjbIDQB9zZyAfWlqjpd2t1pdrcg5EkQOR9KuqdwyKAI5BVZquOOKquKAIq8I/aQ/5ln/ALev/aNe8V4P+0h/zLP/AG9f+0aAPCKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigD3f9m/8A5mb/ALdf/a1e714R+zf/AMzN/wBuv/taveDQAoqVRUS5qZKALCjC1XvZBFAWParHQVjeIrlYdPkJ/umgDw34hambvVGQHIU1wjRsckDitnX7n7RqczdtxrKDlVI9aAKzcdajepW69KiY9qAKUvDGqrVdlHJqmw5oAjIpMe9KaTOKAE+6etOyMdaaxB6Uw5FADup601gc4o3UvUe9ADMYoxmnY9aAcUANPFIad1NGKAGY4pMVJSHAFADcZoxzSg0hPNAATSD60vbmjrQAmKTvT6TFAC9QKZzmpMcCkPSgBh60uaKSgAzR2pQKKAEoyKKTFAC8YpKOlHBoAODSHrRRQAd6XNIKO9AC0vam4oFADlPNN70oBzTaAA0lLmlxQAoY4pKXaRQaAGE0ClwDR0oAQ0gxS03vQAcdKMUZFOFADcUYpaB1oAYRRinkc0hoAYRSVJjim4oAbRS4oxQAlFFFABRRRQAUUUUAFFFFABRRRQAUUUUALSUUUAFFFFABRRRQAUUUUAFFFFABUkDFJ0YdjUdPjHzg0AfZnw3v1v8AwRYOTlkXaa6+vLvgfdi48JPETkxtXqCNuFACt92qrirfaq0goAgNeD/tIf8AMs/9vX/tGveDXg/7SH/Ms/8Ab1/7RoA8IooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPd/2b/wDmZv8At1/9rV7x3rwf9m/r4m/7df8A2tXvB60APWpo+tQr0qeKgCSTOw4rlfGknl6TJ2O2urb7prhviBKV0qXn+GgD5+vW3XMhPOSaqEVYnGZWPvVdulADDt3YPSopAu/jpT2681GaAK8q5qm61ckziqz9aAKrD2pCMipHBNR4NADCpFI1P5JxSFSDQBEc9qVQetP4zT1K96AGY9aQipCOabQA0DHeg8mjjNFADR1pSOaVeuTSnHXNAEeOc0uBS9aUjFADMGgDmn4OOlJigBO9DA0opepHNACHIAzTT61IwyKZigBtGMilpccUANAoxin8CkxxQA0dKQAmn4paAImFG2nmk/GgBuO9Jtp+MmjHNADBxSgU7AxR0oATFIBzTuSaNvNADgowfpURU5q6kDNCz9hVQ9aAGYpcUopc8UAGDimkU/JIppagBmKKWlA4oAacUmKdg5oxQA3bRinc0YoATtSYp2KOlADT9KOKcTmkoAbSAU40EUANYUmKfjNAFADCKQrUhUikxQBFiipcUhXmgCOinEcUmKAEopcUlABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRSgZNTxxUARKh71IqYqfy8U0qQaAPePgHqJWe5sieHTI+te3QyFJmVumcV80/Bq+Np4rhTPD/AC19LzqdwYKeueKALlV5OtTjoKilFAFY9a8G/aQ/5ln/ALev/aNe8tXg37SH/Ms/9vX/ALRoA8IooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPd/2b/+Zm/7df8A2tXvFeD/ALN//Mzf9uv/ALWr3jvQA9asx1WWrMdADnyV4rz34jMf7Mf5scdK9DJwM15l8THxYNhsZoA8OlJ8w1A/WpZG+c1C3IoAiYmoS1StkA1CRQAxz3qBhuqZulRHrQBXZcUwgjtVgrTSARQBBTGJJzUrDmmMCeBQBDinYA5objikGDxQA7NK+P4aMU09KAGnNJ1paTkUAOFIQSaM/hRuPWgBAMGnHpTCSaVc0ALuOKOaCPak5oAM0+MptbcDntTMDNLxjigBWPApNwxSN0FNFADjg0cYppyBRkUAKc0ZptGecUAOzRmm0ZoAOc0Z5oNNbNADs0U3tTgDtoASlFNzRQBPx5fXmmUzJpQTQBtZs10YgFvPJ59MVinqasb8w7feq5HNACCkzilPPak9qAHduaZTj0pvGaADpS8YpKKAHDpSEim0UALQfrRSY5oAWkxS0EGgBMUDrRk0vagBMUlLQQKAExmjFLijFAB25owKMHNB4oASkzzS80mKAEoxxTj0poNACYFGKdijBoAZgUhHGaeVxSYBFAEdFO6U4daAGYpMVN5dNxzQBHRUpXimGgBtFLilCkmgBtOVCx4qeO2LcmraQgdBigCCO3xU6x4qdUGKXZxxQBCVxTGHy1ZKce9RutAHR+AbhrbxLZuh58wfzr6/t2L20bMOSoNfGfhab7NrltJ6OP519j6bL52m20mc7o1P6UAWqilqWopaAKrda8G/aQ/5ln/t6/8AaNe9N1rwX9pD/mWf+3r/ANo0AeEUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAHu/7N//ADM3/br/AO1q94714P8As3/8zN/26/8AtaveKAJEqzH0qslWU6UAJKSFwO9eWfFAYtBlscdK9SlOCK8p+K5zbpQB4vIfmJqH+tOdvmIpp+tADHxjFQt6ZqU9eTULdeaAIyB61GVyakIqMsVPvQA0rjNJgAdaC5JpucmgBpAJpNoxS5ANKDzxQBC0I2kg1X2kNV8rx0qJo8ngUAR7OM00g1YbO0A9qiIwaAItvNBqQDJ4ppHzUAMK0AVLtppHNAEe2lHHWn8UnuaAG9qbinUnSgBKQU4gEZplADmxgc03GKVo3wpwactvIw6UAR5pOtW00+RuoqddNbFAGcB60gHNav8AZnbNIdNx2oAy+1IK1TpnpTDphFAGbSfWrzadIKj+wy4+7QBWFLuqU2cwP3DTTby45U0ARd6WlMTjsaTHtQAoGKNvvS4oB5xQBJjCCkxxTy3T6VGTQAhX0pu2p4495wOtXFsTtyRQBmc4pprV+wAim/2aW6UAZfWjirkliynFV2tpF6igCMYpcUoUjqKaxoAdjikxTR9ad0oAXjtSCgGncGgBMUHpS96VsGgBmKXpSHrQaAF49aKTtRQAZxQaWm9aAFpKUcUdqAExSYpcmigAxRg0d6SgAxTTxT6RhQAzjvQOvFGKco5oAcDgYoxS4pdpx0oAYRximYqUqSeKcsZoAiCGp4ockcU5U3Nir6Qqig55oAjSPGBUmwA1KFGM0zvQAY6U4D1o6ilzzigBCKicA1LjNMPWgCXTG8q+ib0YV9feD7n7V4Ys39EA/SvkC24uUPvX1T8NbkS+FIl7p/hQB2dRy9KkHIzTJOlAFRuteC/tIf8AMs/9vX/tGve3rwT9pD/mWf8At6/9o0AeEUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAHu/7N/wDzM3/br/7Wr3ivB/2b/wDmZv8At1/9rV7x3oAkSrKdKrJmrKdKAI5QTMo9q8v+KyAWWe4r025YrKhFeWfFXcbPdz1oA8Tb7xphPFK5+Y1HuoAaWJpjmnEVC5zQAb8VE570pBzTHBoAb701m9KOaTHNABSMStJ82ehpWLNwRQBIsh2YpFYd6iG7PSl2nPQ0ATNjaag9c0/LYximlT60AM5HSkIPWjJzzS0AGSRRzinYpMDPBoAZim9alEbM2BzVuHTXc8igDP257U5YHY/dNb8WlhRyKtrYIB0oA55NOkbtVlNKxyRXQx2wA6U4w4HAoAyfsQ8tQR0py2ygYC1qeT8opBBz0oApJAMdKkEHPAq4IMdqsJAu00AZv2b2p62me1aSwCpVhxQBmCzA7c0v2HvitQxj0pCooAzPsC55UUps48fdFXjSbQwOO1AGe1rH/dFRtZxkYCirbsc9qQe5oAzn06PH3RVC40tcZC4rodm7vUcsQ20AcXcWrRHgcVXHJrqLq03qeK56eExy4NAETnBpo5pT1pKANKxhBIOK2FhyvSsbT5irbSa6GDDCgCv5A9KPLwelaCQgk8gfWo3i5oApNAp5xUDWoftWkYzQIjmgDEl05dpOOtZ02nuvIBrrGj3dqie03jpQBxbxtH1FN5rqLjTVYHisubTGU/KDQBmdqUcVPJbvHwRTNnrxQAwUdqfs5pwjyKAIRS9ql8ul8sYoAhxRiptlMMZFAEeMUU/acUbM0AN/Ck7VJ5ZxxSCNjQBHjNHIqbZijb60AQ0YqcxU3yzQBFzSEGpgmKCvFAEABzS7eaftp22gBFXinDINKBxUkaE0AIq+1SeUT261MsXtU4TAoAhigwc1P7U4cDApKADtTeppyE4xTWHNAB0NGMmjvzSj1oAXHNMPWpAM01hzQA+EqJBxzmvf/hBq4e3lsnPQZAr5/i4ccd69O+F9/wDZvECIWwH4oA+i1IZQRSOPlplt/qF5zUjfdNAFR68D/aQ/5ln/ALev/aNe+v1NeBftIf8AMs/9vX/tGgDwiiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA93/Zv/wCZm/7df/a1e8V4P+zf/wAzN/26/wDtaveKAHpVqPpVRatR0AQ3ETPKpB6V5z8TLdprAj0NenNjcM1wXj9N1jJxQB4K+nfNzSf2Xmt4xZPSjycdaAOfbSwab/ZS4reaMDtUZjOMAUAYh0tQelI2lr3FbflnPSmtHzzQBh/2YnpSf2Yo7VteUCTxTTGO1AGOdNXH3aP7OTutbHlE9KUxAnpQBinT0H8NNNkmfu1rvHioigoAzfsC/wB0VBLpwOcCtsIDxinNCNmcc0AcbcWrxMeKg5xXT3dsGU8Vz88JjegCLJpOjU4AkdKbjmgDX0+FG5PWtuGFcZGOKwbKTaK1IrggUAaWwU5Ys81DDMDVxSCM0ARqmDR5ZzVkDjPekK80AQ7MAGgICas7BtAIoEeKAIliz1qRY8Gp1QAU/aKAIljyKdt2ingc0jUAQsc8dKjc4HFK2dx4ph5oAiJpATyBSsO1NHB4oAquTk0qLRJguakiTNAD1HYU8R5680oXBqeNBQBQmgyMAVzeq2+07sdK7J48g1z+sw/uycZoA5PA70hzTnGG4pMetAEttkSA109i2VxXN2y/NW/Yk5FAGntOOKTBHWpVGVpp560AMNKBxTioFIR6UAAHNOI4pMEU/BA5oAgMYNQvbhhVrHNGMCgDImsg2cisufTsZK107L7VBJb5OdtAHJPEyHBFIMiugubJT2rJmtGjOQOKAKw6UuKQ/KacDxmgA28U3aDTye1NPXpQAm0YoCDrS9KcOelADeKTBJqXaPSnADPSgCAqfSkxVrb7U0oM9KAIeelIVzVjaPSgKO4oAq7CTQU7GrYXnpxRIq9hQBSCc0qr81TlQBQF9KAE8rjIFTRRc09FxwamXGOBQAAAUUgB70rfdxQA2m05hheKMcUAAo5zQp5xTsE8UAMIyetAFKeDSe9AEgJpCc03nNFADo/v12Hg6bydftmPHziuPQ8it7Q5THqkDA4+YUAfWlnIslrGy+lT9qzdCfzNJhb1UfyrSoAqyda8C/aR6+Gf+3r/ANo178/WvAf2kevhn/t6/wDaNAHg9FFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB7v+zf/wAzN/26/wDtaveK8H/Zv/5mb/t1/wDa1e70APWrMVVV61ZioAJiQ6kVxXjjmwkGa7absa4zxumLFj60AeSlCGppXmp3B3Gkxn6UAV2XPUUzYBVrbxUbKMe9AEGzPtUcg7DmrIU5prpzQBW8vjimMhB6VYII6UmygCErgcVGRmrLdKYFFAFVlJzUez5qt7KYUAoAh2jtUoA24pCvPFWEQbcmgDNu4uCa5q/XBrrLsYU1yup/fOKAM8fL3po60hJJp3bkUAWbZscZrRg571lQZDZFaMR6GgDThPvV1WK9+KzoTkZFXFJ9aAL8TZ6mpuD3qpCDVpeBzQBNs4FPICpTSTgUhbPBoAcOlSDn6VBuFSxv2oAkCnPSmOvFTUyT1oApsTnrioyamcZBqAigBhxUZIqQrUbDjrzQBAw+apo+gxUR5NTx9OmKAJR71PHjFVwcHFWVB20ANkIIPNYWr4ELZ9K2pMAdea57WpSsLLQByjn5jSD60hPNKKALFs2H5rZt5NuDWLb8vitVchBjpQBtwzBsAnAqbIzwc1kQSnFXYpj3oAtkZ70gXFIr85qTfmgBeBSkbhQBnrQR7UANZe4ppHFTYAFNwDQBGB3NI2MgCn8jpTcHPSgCKSLeaqT2oYdK0MHHFNK5HNAHN3OnjqKzypQ4YV1ssAI6VlXlluzgUAYvU04gdjQ6GNyDSc54oAUKM07HPFICQamjXJzigCPnNP4Wg8HgUdaAF69DSHNHSlU80AGDTgoJ+ag9aUH2oAaV54oKjBpwHNPGMUAV9p705U5pWbmnA5NABtOalAwOOtRjOakBPagBBx1prc9DSswpARnNABz3ozxSFqQHnFADxipMHaW7VHQ0jAYoAaRS9sU3nqacKACgrxQPelbpQAi8MK2tMbZexH0INYy8kVs6aubuPvyKAPqjws4l8PWsg/iQfyrZrA8HMD4atRjG1a36AK0nWvAf2kevhn/t6/8AaNe/yda8A/aR6+Gf+3r/ANo0AeD0UUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAHu/7N//ADM3/br/AO1q93rwj9m//mZv+3X/ANrV7vQA4VYiquOtWIutAC3H3V+tcp42GdLP0rqrnOF+tcx4yI/stgfSgDyJ/vGmj5RUkg+c0wgDrQALg9qaU5zT0NIxoAjx6VGck5z0p5OOlRnOTQAwg5zS4wM0vfmkcgGgCMjngUyns3GKbnigBMYNPaNWiyOoqNyaRX5xmgAMZApN20VZfy/J9xWVc3AjBJoAr31zhTXK3c++U1d1C/3MVBrJ35NADkwTz0p7qOxyKYPapIwQcmgB8QIq9CORmoEUGrcS9qALcQ54NXI+OtVIuD1q0GCigC4jDGanWQYx3rM+0c8Gp45geTQBo7vlFJvFVzcDYMCmeeDzQBaD81LGapeZ+tSLITxmgDSU55pzcr0qkkuOKtI4YUAROoAOagYe1WnPtVdutAETY7VEwFTEZqJxQBBtz2qeMCmL16VYQ4TGBQAgXnOKsDJXAqFTlqnzgUAU5wRk1y+tvlSK6u5I8s5ritbl+fAPFAGPj5qecAVGOuTTqAJ7bG+tRfuZFYytg1owTBlAxQBYEm08VZinwaouwFOVscZoA2o5geatxEHrWJDIQK1beXcvuKALuKO9EZyuSadwTxQAAA0BQKcBRQBEVweKUipMDFNIxQBGRgc0znOae/0phzQA9AG4IqGeFSpAFWoae8YIoA4/UrcKS2KzBxXT6xDiInFcsThj6UATD1qRD8wqAEAVKjc0ASNjNJgZpHPemhvSgCQ0mD2pA2aN3agBwIxzTwQO1M4ozQA4Gmk8UvamHrigBeGpRTPxpwbFAEo+7SrnNNZgRwMUKcUAK3JpMcdKUMM80M2TxwKAGe2KXvSA5OBSHrQBIDzmkPvTRkdKcwPegBM84p3B6UylxQAtLjjrQORzR2oAEzurd0bDX8QPcisJTzXQaHj7dCfcUAfUXhdAmg24HQqMflWzWR4ZbdoFsf8AZrXoAry9a8A/aR6+Gf8At6/9o17/ACda8A/aR6+Gf+3r/wBo0AeD0UUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAHu/wCzf/zM3/br/wC1q93rwj9m/wD5mb/t1/8Aa1e70AOHWp4+tQDrU0fWgCSf7orkvF532T+wrr5ACADXK+K4h9ikx6UAeSyZ3kVGwzUsv+sP1pjY7UANHHFI3WnAU00ARnpzUbA1KaYx4oAiI70Bc0/gpz1FICe1AETAhvpQeRkU/wCtJgZoAYRlcHrUWzB6VZpmPmoAjcfJzWFqT7VOa6FgCMViajak5ODigDjrg/vTTExmrd7FtbG2qiDmgC5Eilec5p/lj6U+JPkBxUvlnNADUQ9qtxDAqNEwOanVfSgCxGMc0O1IGwuMU1EMjUASIm6pwh6VLDbEcmnmMhuKAFA+QCgKvNO8s4FL5RIoAjKjNKMjvT/KKr601VOOlADlb5sCrMUpBxmqq4U9KbvwaANgcpnio3TIqKCTKgVa25FAFbbxio3QYq2U4qvIvcCgCsBtOakU8+tJtOKVOtAD0X5qsHhelMi+9Usg49KAM28fKnAriNWOZyK7K/OxDzXD3777hvrQBVUCn4GKaBS0AB4qWOZl47VF1FJ3oAu+ZvxT0Y96gXgVLH1oAvRZ4Oa0YDWdCDxWkkbR4yOozQBejcBeTUynjg1RzyKlD7RwaALwJIqQAEDNVInJq0hzxmgAYZPFMIx2qcIO9RstAEJHfFMKVPt+WoyOetAEtsvB4qcp8vSkt0yKnK8UAc1rp2wN9K4/qxrrPEr4j25rk+poAk4I604Eio+akHvQBLnctNHFCsAaCeaAF70vOaaDzT8jFABinggUwGl6mgB4Ge9RyDFSn5V6VCRzQAUvWk5p3egBV96WlBGKcgBNADR1pW6VIYwxwKiZcUAIBjpSZzSfNmlFAAOOppXbtmkzzzSNQA5aePeo16U8cDigB+BTT1oBzQaAAferf0g7buI+mKwE5YV0WjRlrqIdeRQB9OeEXL+Hbf8A3a3awvCKOnh+3V/Tit2gCvJ1rwD9pHr4Z/7ev/aNe/yda8A/aR6+Gf8At6/9o0AeD0UUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAHu/7N/wDzM3/br/7Wr3evCP2b/wDmZv8At1/9rV7vQA4damj61COtTR9aAJpPuisDxIoOnyZGflrfkOErA8Sf8g2Q+1AHj1x/rmHvUPvU1znzm+tRAcUANzxSGncgYpp4oAYRTG64qXPtTCaAIxwKQin8EU1sfjQA3jvTQMmpNv5UbcGgAEYI9KbgA4PWnHpmmAFm60AIw5qvNGJFOelTy/KcGoiwC/WgDmNVswASornljPm7feuu1Vh5Zrmoo98xI9aALsUfyVKqcc0+JDtwamSDNAEarxUipUnlkcU5FNADAuTirVrDjk0wZBq5anJxigCwkZIqUWxxkVPCvTIqyF4oAoGBuOKcLc5rT2fLnFN2gY4oAoG3J47UfZQFPFXyAelIUGKAMV4dpIqBhg81qTQnOaoyJ81ACwttIrRU5AIrLUYbitGA4UCgCRulMZeOlTHkVG/3aAKb46EVGGAapHPBzVRn2nNAFyF/3mc8VPK4Iyay1l+brTZ7k4xuoAqatcDawFcXcHdMx966HVJT5Tc1zvU5NACr0607rTRjNO3AUABGBTe9BbNNHJoAuR9AKnUBTmooVymc1OAe9AFmJhjIq8jkjkms5O3tVtWAFAFoMMHml3g96rhsinAmgC9DJzgGr0DdM1lxHBrTt/ugkUAWx0ppGe1OHI5pOxFAEfGDUSgFuTUp5pVTnOKALNsvNTSrtU8c0lop3YqzcRhYyfagDgtdRpp8ZrLisN3at+/j8y4Y9s02KAdhQBk/2eOmKjfTyOgNdF5KmlMCkUAcs1m46Co2jYDDDpXUG0X0qCSxVs5FAHNZxS7vetWfTBztFUJLSSPqKAI1PNSAioORxSh8UASs+famk4FN3e9Nzk9aAJATThgmmbhSZNAEwNOVhUY4Gc0c5oAmJI6Gos808k7elMIOKAFdlwMcetNBGaaetSAArxQA3HNBpx+Wmk56UAOFLmmgnPNOBzQA4dhSnpSUuc9aACM/NXW+HUDXUR+lckB83H511GgSFLqHn0oA+mfC27+w4dx+lbVYnhU50GA+orboAryda8A/aR6+Gf8At6/9o179J1rwH9pHr4Z/7ev/AGjQB4PRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAe7/ALN//Mzf9uv/ALWr3evCP2b/APmZv+3X/wBrV7vQA4dalTrUQ61LH1oAml/1dY2uqG0yQH0rZk/1dYuuPjTn+lAHjl0MTOD61DVm8GJ3+tVT7UAJmkJ56U4jIpmaAA+9Rt7U48/So2I7UAIAKXjPSmAnOcU8DjNAFiMxCM7l5qFiC5wMUhBpvNADW5OBTCSp9Kc2euagJoAWQ55qEnjFP4pkrAR8UAYGqseaqWMGRnA5p2rT4JANWdGhM8QIoAn8sKMYqRE4qzJb+WcHmhYzjpQBC0YJzinrGNp4qZYyTzUvljHy0AUWHI4q3ZqN4qGaNgaktGw4oA3EUbelOA5zSQMCvAqagBc/KBSjGOlOONooAGKAI9tLtyKfjJoHFAFGZTzgVRlX8615V+XNUJkzzQBnYO+rsGelQlADkipozzQBbWmOaUHnNIzDOKAKMy9eKpOuW6VfnbB4qi7YzxzQBASFqtM/GTUs0gRckVjXl4Vzg0AVNTnydorLp8snmPk004xxQAClHzcUgOTVuCDJzigCHy/agQE84q8YcdqkEZ44oAhijKoBipipNXIog3ah4sDgUAV41PSphwcGmhStLgnmgCUEdqkXg9agBqWEHNAFy3Us4JFaqfKOKq2gx1q+V4FACqSaX8KYM4wOtSoCRz1oAaADzipFHtQqE9qkUEcHigC1Zrk8U6/OIyPan2yYGar6g+UIoA5p490pJ9amjiA7UbcMfepFB9aAGlc/hTSPSpdhzwacE45FAEGM9qd5asKlxRg+lAELQK3aoJLJWU/KK0AOOlKyEdR1oA5i603uFxWTLavGTkV3EsQccis+4sA4+7QByPTim5rTvdOKAsorKIIODQA8EYqRDjrUOacGNAFkfNT14XoKgRsCnhyTQAp+tNOTSmkBIPHWgBrKc804EAcUMefWkyAKAHE03NGc0DrQA4kkUq8dabSg0APzTutMDGlyTQA5Dhq6DRyRdxfhXPp96ul0NBJdRfhQB9L+Dm3eHoD7Vv1h+E4/L0GAZz8orcoArSda8B/aR6+Gf+3r/wBo179J1rwH9pHr4Z/7ev8A2jQB4PRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAe7/s3/8AMzf9uv8A7Wr3evCP2b/+Zm/7df8A2tXu9ADh1qWPrUQ61LH1oAmk/wBXWLrXNg/HatecHyxisrWP+Qe49qAPHrwf6Q/1qm3FXrwYuHx61T25bmgBOcUx1OKmKc0xvpQBFkgVCRzmpmHFM2FqAGA+tSZ4wKbsNSKMDmgBu44qM5qQ9aaetAEZB7moWBzU7561A/1oAjYEnrUE77I2HpUrsAKoX0m23JJoA5XVpt9xjPGa6Tw0QYQBXH3b7rgn3rqvDLfIKAOguYjUEanvWnJgqOKrCLJznigBYodwyRU/kADpinJ8q8VPn5R3oAoyQBqZHbIjcVakHJpi43YoAt28eB0qUJ81LCMgc1MUINAEbIcChV4qZhwOKjHpQAmO1G3ilxS4zQBFIuUqlKgCe9aEi7VqhcHrjpQBQfrTk460uAT605VHegBwPrSk0zkdKNwzzQBBcKW6VnS5UnNa5ANZ91FjNAGFqExVDXNzTl2PNbeqq21sVz2MkjvQAgyTTqUcU09aALVtaNO421sR2TIADVfQxmTmukMJbGBQBkG2NIIjuxitj7M3UiozbnOcUAUlQqKcy5FWXi2rUA5OKAK7RmkEfrVkg5wRS7AOtAEAi9BU0UfNTLHkdKljQDtQBNApGKuHOAc1DEtWdpIoAVCD1qxHGCaijUDAxVpeDQAuzHSmlfmqUuB1pqnc3BoAsQnAxWff9Dg1oIvy8Vm3+c0AZ23PbmlCkUZwalXB69aAEA46UgU561JjPAp23FAEOw07pxUwXigp3xQBGq80MMnjpUnOMUmKAGbOaQp61NtPWlC8dKAKE9orocjtXO3+l8kqOa7PYCOlU7i1BBOKAPPJYmjbBFIp4rpb/Td6kgc1z0kDwsQwNACKalXgZqDHOakGcdaAJMgikYDsaaAQKX8aAG8jnNJyaeNvQmlO0DIoAYD2pc0mRml4oAQNTweaaMU/AoAcBTscUYGKXpxQAL96un0Af6RHk965dfvV0+gf6+PPrQB9NeFP+QBb854rbrD8JLt0GAewrcoArSda8B/aR6+Gf+3r/wBo17/L1rwD9pHr4Z/7ev8A2jQB4PRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAe7/s3/8AMzf9uv8A7Wr3evCP2b/+Zm/7df8A2tXu9ADh1qROtRjrUidaAJpP9V1xWPrLYsH+la0/+prK1Mb9PbP92gDyO7X9+/1qsUBNXrxcXD49aqFfWgCPHaomXB61Z21Gy80AQEZFNwAOKmYdqicYNADMc96GHoadnNNY/nQA1gfrTS3GKkwccmojwcigBG4GTVOaUA9MVPcHHORWe5zyaAIpZiO9ZWq3QFvtz2q3cnAyK5rUbkySEZ4FAGezEufrXVeGXOcVyq4JroPDs22fFAHdv9wGogeaRpMoOajDdxQBaDCpQwNVkJYVKnoetAD36VWbhqnOfWoW5agDUsDuWtEoCtZlgMCtZelAFdl5qMqAauMgIBqB0waAIeO1GBxUmzFIAeuKAILhwsXNZMkma0L2T5CMVlkZoATI6g1KPuZzUaqfrT24GKAIzndUeeakZsAgVBklqAJ8jFQ3Ee9MinKw3VYQBjjNAHMXtiWVsiuTu4vJmIxivTb6FFhJIHArzfVnBvGx2NAFMEU08mgdaDigDc8PjM2K7q2gG0ZrifDQP2kE9K72NsIKAI54lA6VSYDJxVyWQ4PNUjnNAFW4UelVwmOauupJ5qOTHZaAK5TLU7ZmpEXvipQm40ARpzgGplQZ6UoT2qZU55oAfEnzDIqztFNiXmpHGDQALjNTLioV9M09iAM5oASVh0BpsPrmoJGy1TQdKANGJwVwazb8fNV+I8dKzL+T97gUAU8c1KijrUIIJqyvIoAeF7in7c05EO3OKCp7UAAUdOtOCALzT1BRckdaRuaAIinNO8sAc4p208UpXPegBgUYo4HangcYo2YoAQDJzTmQMuMUKPmqVBz7UAZs9sMHiue1PT96kgV2kseegrPubbIxigDzaWNo3KnIxSLzXSappm4llH5CueePymIbrQAEHpS4xxSZNO3EDNADdgHOaTPvQWDUgzigAwM044po680o5oAcMU9SCajxzTslaAJSQOaTNR7smnZOMigByn5ua6TQ32zxmuZB5rd0l8SR845oA+o/B83m6BB7KK365XwE+/w9Gd2eAK6qgCCXrXz/APtJf8yz/wBvX/tGvoCXrXgH7SXXwz/29f8AtGgDwaiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA94/Zv/5mb/t1/wDa1e7V4T+zf/zM3/br/wC1q92oAXvUqdai71KnWgCSbJjArP1NcWLcfw1oyHEeapaiN9g2e4oA8lvVBuX+tU364q7qC4u5AOPmqi3SgBoFI2KcAMdaQgUAQlaYyqRnPPpUzY9KhcjtQBFs7gUxl+ankn1qJmoAQn1qF+OcilY+hqF84oAZJ8wqq6HrjipmJwaiZz0PSgDK1BgkTVyk+SxNdNqzfujiuXfk0AMGQK0tHl8u6XPrWb3qe1fZOrD1oA9HEgMKn2pUGTWZa3G+FAT2rShPcUAWRxxUgBAHFRBiT71MGOKAJPvDFMMWGpQeaeaAJLRyjY6VqxkkViKW8wVrQuNozQBb7c03AY0ZpeKAGlBio34Q+lSmoZT8poAybvJbpVXYMcVauWbpiqw5oAaOKjdjUrDimYzxQBFjNNZSOlS7cUhHFAEBbB6VPA24gioHGD1p0B/eDGaAGaxKUt2Oe1ebXTeZcMfeu78SSbLUkHqK4BjljQAhAxSbTxmkBpx56UAdL4cGHBxmu2jGVBrifDwII7V20LZQCgCKQAtzUTLnpirDqwJqPbhvegCvIgx0qDYavygHHFQEY6CgCAL2qQDjpS7ePenKOKAEAqUKSaYKkXOaAJo/lpxbNNA4ppOB70AOGaZI5xSqfrUbntQBEGJbmr0A456VRUfNWnEvyUATKfkNY10wMxrWlzHCT7VgyOWkJNADlXJzVuJcYxVeLk1cj46CgCwCSgFPROcmmqueaf2oAR+aNtKBnmpQcDigCAjHFJtOamwOpFKVwM0AQlehpSAaft7YpdgPSgCMJT1oPFKlAFhcFagkiBNTx9etSsue1AGJcWgIOQDXHa3ZCJ96jivQpIcg8cVzms2gkjbjtQBwqzqoK7Rk96Tzc8Ypk8eyZl9DSKuaAHjGaWkzg0vWgAH05peaTFPzwBQA3OOaUHPNJ1pVHPtQA4DvSgjFHFHFAAOtalmzAx7euayuhrSsXwyfWgD6V+FrSN4cPmf3uK7quE+FjbvDrc5+YV3dAEEvWvAP2kuvhn/t6/8AaNfQEtfP/wC0l18M/wDb1/7RoA8GooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPeP2b/APmZv+3X/wBrV7t3rwn9m/8A5mb/ALdf/a1e7d6AFqROtR1IvWgCWX/V1UvwTp7D2q2/3Kr3nNm30oA8m1FcXb/WqBFaeqf8fcmPWs00AMGM8U0kd6cfamHmgCNuvNQuBmpmwTUbLQBAwwKgbJ71YdSahKEGgCuQe9NK8VO4pqgE4IoArsvy5x1qs68elX3T0qpcRlVJoA5jWJMZXNc8Tz0rY1YsZuayGUjkUAM2980qNtbNIcim4NAHSabd7ogueRXR2kpKiuFsZCkgrrbOT5VoA3EbFSI3c1UjOevFWFIzQBZ9CKfVcZz1qRWweaAJOQ3FXIX4AqoOalhPOKANINkDFSLyKrp0FSZNAEhPFV5jx1qeqlyeKAKMx3P9Kh255p/3nORQRjtQBE+cVFgjmpnphoAYcntTT061LgA0m0E5xQBWdcc1CjbX4q665GMVRkGx6AMXxNMTEFzXGE8mum8SSAnANcxQAvFA+8KSnRgFhmgDqdDGFBxXXW7AiuW0ZcIOK6W3bAxQBcYbqiK/MDUyt60jcjigCJ1BFV3GKtexqCWM7s0AQ5yOtN6HrSsOcUu3B6UAKo7mpo6iGO9TIMUAPL1CVJbjpUjHsKTkc5oAQ8L6VC/TrUpbINQOfl96AEhP7wVsJyoxWNbEeaK2ASEyKAIL2TbHgmscjL5q9fMTxVEYoAsRLzxVyMYqpFxV1DxQBOpPTFOpinmpB7igAFPAyKUADtTzg9BigBm3jk0bafjnJo2g0AMx6GlxinFcUgoAjIpoJFSP14poXnmgCWLqMVfVdyVUjFaEIBT6UAVXjrH1KECFj7V0Uq+1Y+rDy7Vz7UAeTX4xeP8AWo1U7cipL1t12596dDMqxkMM5oAgOO9OBGKjkOWO2kBxQBNnvSHpmo91ODZPSgBw96d+NMJAOKcaAHjpQTTc8UtACgVo2YBaP61nCtC0PKZ9aAPpj4XRhfDQYY5NdxXDfC4/8Uwo9813NAEMtfP/AO0l18M/9vX/ALRr6Al618//ALSXXwz/ANvX/tGgDwaiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA94/Zv8A+Zm/7df/AGtXu9eEfs3/APMzf9uv/tavd6ACpF61HUi9aAJXH7uq10f9EcD0q0/+rzVO6Gbd8elAHlWqk/bZPrWc5rQ1c4vpPrWaTmgA+tMbpmlJ4poG6gCM+9IMVIQMUzaKAAgYqFxk4qchu1RsDnNAFYjtikwKsFO9RleaAItozg1SvtoUkHjFae3cDmqF3CSjY7UAcPqILzms4pzitq/QrKSRisyQc5AoAreWO9McAmrLIMc1HsyaAJLSAlwRXSWQ243GsvTo88VuwRAd6ALiSA/SrCSAnFV0iwOKlRDQBZD1JuyKrqDmnqxoAtI3alV9r1GueKHbmgDUjkBA5qxG2TWVFKAoyavRSjHBoAtkDHWqd1wpqRpwBxVOaTfxmgBqAY6U1uTUkanZTXXNAFdutNxzU22mleaAIiMilxgU7pTSTigCOQ/LWfcN1q3Mx21jXspAOO1AHM67JumxWKKvagzSTsc5qoEPpQAmcCnQ8yj60mxqnto8yrn1oA67Sl/dr06VuIMc1kaYMAYrZAPegCwjE1Lx0NVlJxUqH1oAk2jg01lBBFSDBGBRigCgyjcaaW7VNMvzcGocHNADlwamUfLUSKCasqMDFADSveo5DUhOTimsooArk8VBJnBqy2McdaqSN60AFux80fWtpTlKxYpAJVwK2kb5PwoAyr5vmPNVEyT61ZveZDUCArQBajJNW424Gaqp24q1H0oAsA9DipkYZ561AnPepQOeBQBISCeDRkU3tSUAToQ3GakKioEXmpwMrwaAGOB600ipNmRSYPTFADAoNL5fNO209R60AICF6VdtmqoAM1YiYL3oAtPXP+ICfsT4PaugA3rmsfWYA1s3HagDx2dXMzHHem+W23ODXTNp6mQ8d6mXTVYYK0Aced2ehpDnvXZnSIu6DNQzeH1K5C4zQByWeacrVsy6C4+7mqcmlTxH7pNAFYAdadStE6D5lIqPODQBJS0wHnrRk0APzzV23ydn1qgCCa0bP7yfWgD6W+FgYeHVB9K72uE+GL/8SCNO+M13dAEMvWvn/wDaS6+Gf+3r/wBo19AS9a+f/wBpLr4Z/wC3r/2jQB4NRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAe8fs3/APMzf9uv/tavd68I/Zv/AOZm/wC3X/2tXu9ABUi9ajqRetAEzDMdQSKPsb/Sp2+5UD82rj2oA8m1oYv5PrWSx5rY1wf6fJkd6x268CgBDTQDTutIBmgBCtJtI6U8DnmnYxQBFmmmpCvNG0c0AQDmkIx70/bg8UrLQBXbPWqUxPQmtBxgelUZyvO6gDF1C1R0JHJrmJUMcp46V191KBEQK5u7QM26gDObc7ZPFOC4FOoAOKALlg2HwK34OgrnrI4lAro7fpQBaU47GplIpirxUigUAP8AwpwShQD1pw64oAVcjqajlPGcVKFJpkoxigCHzDxViK6CnGaruBiq+NrdaANc3Ck5JqPzgzcVQ3krjNPizvFAGwnCYqNic08H92KjIycUAMJ5opzIR1FR4I9aAGk9c1Gx61Ic9zUTkA5zQBXmYbeawtRk+UitufBXisHUh8p9aAOXnGZG+tIi8YNPkxvNIAR3oAj28mrFqo85ajOBVizXMooA6rSyFZSRxWy5DvlRgelY1kPlHtWrERjmgCQenQU5V9TTR1qRKAJV4FK3TikC45pSMDigCrKpzUfPpU79abigBqKcd6sJjbg5pig5FSFe9AAVHUGoX9Ke4IHFRn1zQBXc4qtL0q04qrLzQBArjzF9jW9C2YPwrnmG1xxW5bN/ow+lAFKYbpSaRYieakcnceOKei8UAKicVYQcUxABVhV/CgBBwelTp9KCnpzTgpFAC44qPBqbBxTXwQAOtACITnFWV4FQKpHPWrSrwKABRxTtvtT1XijFADNuODikNK3HWgY70AMxUsa/NSBRkGpUHOaALiD5OKzdSGYmBGa0o/u1R1HiM8UAch5OZTgd6sCHA4p4A8w8d6tRxfTFAFUQZ5xTjDjqOKtuu3gCoiCetAEHkIRwBUT2KtklRVxAQeKkxzQBz9xpKS5yorJutA6lBXbGIEVG9uHXpQB5pPp88BOVPFVORwRzXpU+mo6nIzXP6hoSkEqMGgDlg3NX7VuUJPeq1xZSwPgqcetPg6L9aAPpj4UyCXRl65UYr0WvMPhE/wDxKtuevavT6AIZetfP/wC0l18M/wDb1/7Rr6Al618//tJdfDP/AG9f+0aAPBqKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigD3j9m/8A5mb/ALdf/a1e714R+zf/AMzN/wBuv/tavd6ACnr1plPXrQBM3KUjKBbsfanfw0lxxbN9KAPJ/Ea41GTHTNYZFbniDP8AaD/WsVuR6UAQk/lSZ9Kc3SkGAaAHA96cGHemZFOUd8UAK3qKYeaeT2qM9aAEbgZpjnFOJ4xio2Bx7UAQStlazJid2CavynA4rPkJZ6AKF6/y4rCnJDZrob2P5c96wLgcUAVmQMMioySoqTPNK65XIoAfZj94Ca6CDOOK560OJRXQ254xQBoRv271OoGPeqqA5qdODQBKufxqQCmqBipAuBzQA8YxUcwHFPXtTJjQBAy4HNV3xuzVhzuUVCy46UAMqeDGRUI96lj+8KANkOnkKAPm7moc80IT5YzSkigBrEk9ajLYGOppzc96jxjkUANY461C5yM1Kw3daicYFAELqMViagnWtsk4rI1H1oA5OdQJSBTMYHWprgjzjmoepzQAH9asWefNqHirdny1AHT2AzGK1EUVl2RxGMVoRkmgCU5B4qaMd6iB4qZSOmKAJVO44p8i7feo485p7HigCu/JpuOac4yaZQBKAeBTxxxTFOR0pxPHFADXPFRMwAp7DNQP96gCNySKrPgVZbpiqsuMEigCvJkMCelato26DrWPK3FaFm+IOKALG3mpVTvTIgWFXI146UAMAx2xUqANQV3HGKkROeKAHBeKlVMrSKpPFSjI46UARsCFqP2PerDDioiPWgARcYqynNQD2qdM4xQBIODSnmmbvWm76AHN0xTAuSKdjccmpQgXpzQABKkRaQZzUvbigCaFcnrVPUQBGxq1GxziqmpcxHFAHPKgL5q4iHAqCMfNyKvKo2ZoAiZMioyuKmzSbc54oArZANP4I460rRj0pEUUAKuT1p4XtS49BTuewoAb5Y6VBLa5B4zVr61IBuWgDmrzTEkBBX9KwbjR3hcMo4zXeSw57VVe1DLyO9AHonwrtli0yNh97vXpdcF8OkVLUqG6c4rvaAIJOteAftJdfDP/AG9f+0a99evAv2kuvhn/ALev/aNAHg1FFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB7x+zf8A8zN/26/+1q93rwj9m/8A5mb/ALdf/a1e70AFPXrTKetAEx+7TZzutz9KePuU1x+4IoA8q8Qf8f8AJ9axD6Vv+I1xfv8AWsE0AQOPQ008VIy1Gc0AGTUi8LTABinYOM0ALnJpGFGe1IfrQAwioJM9KnPFQyHIoAruoaqZQZJNXWPGBVSY7QTmgChebQPSuevHUtha0NRuuoB5rEZix5oAYSPxpyvxikUZNDDBoAkjBWUHsa6Gz5Fc/bNlwp9a6C0GBigDSXHpU6Lx6VXUjj1qwp9aAJlGOtKCCaQEEU8AHpQA7sKSTaV6U8DtTXHFAFZgCKiPpU0h4FRnHpQAm0A8jNPUc8U0CpkXBoAtLwoppBNPHC01hzQAwj3ppFOzzSYPWgBhOAeKhc8VOxNQvg0AQNjJqhdw+Yhq657Co25GDQBxV/AY5icVWAGK39XgG4tWFt+bFADTzir9omCMdaqAAMBWtZw5wwoA2rP7oyK0VAzmqVquMZFXiFxxQA8deBUqj3qJT2qUA460ASrxSSEgUq5pZOOOtAFfPPWjNBx0pO+O3rQBKmCKUjtTVGBT8jbQBEwJHtUDoc1ZPPtUTdeKAK7jjmqsmNtWZG65qpI3BoApTHBq1ZTjy9uapT5ANO085egDorYZAq8g49qpWxGBV0c4oAeAO1PA5pFFPBGaAHCpOMZqPpTs5HSgBJO1RnpTnODUW7NADl+tSqe+agz3qSM5oAkDEnFTog6mkSMVMFwKAGBRnpTwMUpQ+vWngYHWgBFHrUoAqPNOzQA7o1U78/IauLg1S1D7uBQBmxrnNTDOKZGMCpMGgBME80oznk0q4xTgOaAGbPSkEWKnAGKcFzyaAIPL9KDlRjFWCg7GmFOKAIeaerY4oI9qYxoAthNy5pjW+V4HeltpMnaa0VUbcYoA6zwDEU3/AErum6Vx3gxcM/piuwf7tAFd+teBftI/8yz/ANvX/tGvfG614H+0j/zLP/b1/wC0aAPB6KKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigD3j9m//mZv+3X/ANrV7vXhH7N//Mzf9uv/ALWr3egAp4plOWgCwv3KG/1RFCfdoxmNqAPMfE64v3471zwxnNdL4pX/AE965vvQBE3JphqYioWGDnFAABT8UKM9qeFAFAEYAB5prLUjDnpTTg0ARNyKhcH0qxjNI0fFAFB1xnisbU7gxRntW1cfLmuU1mUucZ4FAGTNIXcnNQ0Hk0YPWgBfKYruA4pNhI5BqxCCU5qXYNuTQBUhQiQECuitfuA96x40w4rZtR04oAurn0qwvvUarj8afz60ATAipV6dKrqKnXOeKAJgOKa4+XNKG7USdKAK0mMDioSeelTyD5c1GBntQA1QSc1YiyTUIX0qaIfhQBZXJFHXIpVPFN6GgBpFM5NP61HyDQAxjUTZPapWOaZj8aAKzoQeKTy/lJNTbTzntTGcH5QaAMTUkLAnHauaKkSnjHNdldRblPFc/LZ5myB3oAzP4+lb2m4KCse6jMT+laOkMcYzQB0MA24q0tQRYIHWp1zmgCUDninjrUYPHFPXk0ATLwM5pGbvQMnikdOKAIj96nKOOKAKB1oAdg96DTu2DRtzQAyq7k56VO2BxVZzmgCCQnvVWTn8KsucCqcrdQKAKVy/GMUacfnzUVznFPsTgigDpbdjgVfUnIrMtmwBmr6NkigCyDzinjioQR1qVTkUASHk0/tzUQPPFOY8ZoAax561F3oZsmmM2BQA4t2q1bpk5qnGN5FatvGAoOKAJ0j46VKFGKEGakIwtAELcVGae2c1GRmgBc06mbeKTdhqALA+Uc1RvDlsCrPnqVwetUZm3PkUARqvFKB609FJpWXFACAc8ClwQadHjdzTzy3AoAaFyOaeqkCj2FLnHFABjik2GpKXaQaAIimKgKe1WX4600KKAIFGDkVp2zbo+ap7V7VYtxhTQB3vg/hm+ldc/SuR8HEHcc9ulda/SgCu1eB/tI9fDP8A29f+0a98avA/2kevhn/t6/8AaNAHg9FFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB7x+zf/zM3/br/wC1q93rwj9m/wD5mb/t1/8Aa1e70AFOWm04UATrwtOH+rakTpT/AOBqAPNvFY/05ua5g9a6jxWP9NauXPWgBjGoutTN05qM4zxQAAc9elPBpqY7044oARvzppXj0p2OaVhhM5oAgAIbrUpzt6VGR7UnmEDFAFO95UiuQ1K3zOeciusuz8pNctetmY0AZphUGmmH0FWmTnNAXmgBLeI9MU6WEhc1Ztk3Nip7iDCk4oAyVGGFbNocDpWSYyJOOa17UDauaAL45HFSqvy80yMe+KkHHegBQvBp4yBTl+bsKDxQAqZzT2Py01TntTiDigCtKCVqLcVOKnkX5eveosdqAHJjNWY1B6Gq6jpVqEc8UASYGcGjAxQfehRnpQAmPeoyOMVM6YqIjFAEDqMVE2VGasMBioH5FAFd2bPWq7yrGdzGpZT8p4rB1GdgCM0AWZ9TRn2KaYE3HdWBGxMoJ9a3I5N0I5oAztSA34qXSkO7rUF4uZMk5q3pi4IoA6G3BxVtFzVe2Hy1cWgACZPSpFA6d6UClxzQA4DApkjjGKeajYZ6igCNeeaeoOcimlD2p6ZFADz0pCRjrQ3SoWJoAR+maque9WWPy1WYYFAFaRs1UlJOauMuetVZ8BTQBkXTEfLVzT4icGqU2Gk61uaWo29KALkSkEcVfjHHNLHECBxzUnl0AOTpUgOKjHyjgUA80ATjpTu1MWn8dqAIJOD3qInJxUsp5qLqRQBPbRknitqCMBOapWkPAOK1Uj+Uc0ACJxQ54qQ4AqGQUARnmmFcU7HvRjigBMcVEwqbPFMOM0AVpMhaqjlsVcm+7xVHJD0AWkPFPIyc+tQqxqZdx60AGz0p+3GOacMYxS4zQBGc5pwX1p2KUnigAFBPNIM9jTgtADGXJpdoxT8etIV54oAj21PDgIajINTxISp9qAOy8Gn98R7V2clcb4NX963tXZSUAV2rwP8AaR6+Gf8At6/9o1741eB/tI9fDP8A29f+0aAPB6KKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigD3j9m/wD5mb/t1/8Aa1e714R+zf8A8zN/26/+1q93oAKcKbThQBPH0qQfdao0+7Tl+61AHnvi4YvifauUaut8Xqftf4VyRz3oAYaiPWpW6VF9KAFUZp56YpF6Up6cGgBOlGfWmt1xml4FACyFWX5Rj1quwqyuAM1XlPXFAFK6XKGuXuY8zniumuZPlIzWC+DMaAIUt93WnGyIHFWAOeeKVnOMA0AVY1ED9atu6yxVlXUpWTJqWCYuowaAFjjHnc1pxRe1Z6D98DWvFjbQAu3B4qVVJHSlQjNTgACgCNflHWn4B5pNpzSqpzigBy8UvUU4RnFLs44oArTDjmoRip5R8tRAcUAOUcVZi4FVl6VZi5FADieacBjkUbeaXPFACHnrUbVIc4pvbkUAQsaryECrbcjNUpge1AFGdjzXP6idw4reucbTXPXxG7AoAoRqQ1X0nCpg1VQDsacePrQAydyxzWjpZJIrNcFzwK19JhwcmgDoLdfUVdABqCAAKKthflzQAg4pw5FIenNKooAdikI4NKcYpC2BigCJqctJgHoaeAMZoAR+RURxjmpGPFRkYoAhc/LVdzU7tVWRuTQBE5qjdNhSauOw7mqN2w2HmgDKDb5Se9dHpHIGa5+3j/fZPrXTaeoGAOKAN6EKVANSlBjioYOgqxtoArtGRyBTduDVojioiOD70ANXI604Gm/jQAe9AEcuOlFqm6T2pspA+tWbBOc0AakEe3FX1HFVougq2OBQAxhmo2FSn1qMnnigCEjApAAaU/Wkwe3SgBMYNNI5zUmMDNKFyKAKsqjbmqBTL5rUlTiqe35sUARxgg1cTGMmmpHUgj564oADtzwaTcO1DJg4pRHQAhzSU4qaTvQA9Bk1JjtTUXOMVMF5oAYEp2ypQtLtyaAIfKFTwpweKNtTRL8poA6nwiuJW+ldZJXK+FB+9b6V1UlAFdq8E/aR6+Gf+3r/ANo1721eCftI9fDP/b1/7RoA8HooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPeP2b/8AmZv+3X/2tXu9eEfs3/8AMzf9uv8A7Wr3egApwptOFAE6fdpik/OM0+PpUbfKWxQBxHiz/j657iuSYc113ixv9JGfSuSOCaAIXHFRHParBqE8UACGlbjpSKPSl69KAIyPanJzgYpT70itt6CgBHUq3PSoZM9alkbcck1FIx28CgDIvm2g1nWsYeXJrRvAGHSobSPaM4oAJ4ht4FZ0mUOK2XGRWTdEhjQBQu4TIuRzT7GEgcirUC+Zwaft8onigCBeJ+K1YkOwHIrJVS02a1Iche9AFxU+WnKTnFIjfLT1HOQKAJFGTTwADTFODilzmgCVWzx2oI9KFxjinDBFAFaXGBVZz2xVuVecH86rEYPrQA2PINXYsbaqDg1aToKAHtk00DvTuhwDSY5wDQAZAphOaUr60EYFADCcLjFVpBweKt+WxGcVA2cYNAGPdqME1zN3kzGuuu4wY2rmbiAmQ4oApKmDkGnAbjgipPKINBBFAEkUfPTitqwQBQcVjRlulbWng7QDQBrQgmrmcCq0UZAzVjI280AIeaeoPamHpxTh7UAPKkUxhx0qTOBTSwxQBHtp3akpcigBpOBULEmpXPNREdzQBA/JqBuOoqeSoWK55oAqyLwT6VmXLjpWrMRjjpWJeD5+DQBNaIrtj3ret4ygA7Vz+nhvtCg11kUR2A0AW7duOlWg2D14qnA204qxuyKAJvvUxxnjFNVj2qTqKAK5jOMilGQMVYz8tMIGeaAKMoJfpWpYKQgrPkGZMe9a1mNqCgC9GvpU3NMQ8UuTQAp4FR4z9KkyMUq+lAEZX2pBGM57VOUyMim7e1ADHVT0pMcYxUhHFJjmgCGRcr0qmV+bNaLjiqjDk0ANUVIF9e9NHSl560AOK4oxRknvShcjrQA1snpUeOelS5ApwTJzQARLzVgA0iIKkC5oAQLzTgtP246UuKAI8DpUkYOMUwmnxtyaAOr8LAiQ108lcv4XcebjPWuokoAgavBP2kevhn/t6/8AaNe9tXgn7SPXwz/29f8AtGgDweiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA94/Zv/5mb/t1/wDa1e714R+zf/zM3/br/wC1q93oAKcKbThQBPFTH6NT4qGTOcUAcH4swbgfSuTaut8Wri549K5I9etADabt3Gne1ICeaAG7cUnHpTuTSbe9ADDTc080nBHSgCJutMYjGKkaomGWxQBQvYiUJUZqvbZCnNbMqhIecciswbcsBQA0NkkVQukBcmrwwGqK4RS2KAILeMKucUkqgnGKsIoC1FMQGoAqpFtfn1rUjUFBgVRLHIGK0oMeX1oAeq8U/GO1OBBGKX60AIoz1FKBjml6CjryaAHAgU4txTcClOO3WgCKUkr6VWPWrUv3RmodoNACKtWlGFqBAanHIxQAxjzilU47UuMdRQfpQA1jSZFK1NxxmgBxc7eO9V26EmnbjuxTXOOooAoXR+U8VhXBw3FdDcbShrCuhyQBQBUUZpTEMdKkSJyOnH0qfymVeRQBWjiYvituxTCgEVlBth6c1r2DjaOKANVQBinEHGSKjBJ5xTssRz0oAWnLzzTOq05PQ0ASZpuMnmjOGzSk9OKAGYpMc1L26UwcdaAIn4qKQjbU0hAFVmIxigCJuB1zVaXJ6VM521E5BFAFOZiFxWRMWeTFbcsW5c1WS03NyBQAmmx4kU11UZAj/Csa3tdrD0rXThKAH96ehqHPNPU88UAWM4AqUHIqEZx6U/digB+4UrYAqMDmhj2oAryHD1rWfKCsyQdPatKzwUGDQBfXIpwznikA4py+1ADlp9MAxxTs80APBNJ70maPpQAvHYU09elTQ7Nw3dKdd+UHzH0oApSHiqrHnNWXPFVG60AOBzTgSaI4881YWLFAESpzUpAxgVKqe1Lt9qAK+zNSKhA6VKF5p4HrQAiDjNSgAdqaF9KkAoAbTTzUuPamMKAIWNC5zTWPNKpNAHWeFv8AW11clcr4U+8fWuqkoAgavBP2kevhn/t6/wDaNe9tXgn7SPXwz/29f+0aAPB6KKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigD3j9m//AJmb/t1/9rV7vXhH7N//ADM3/br/AO1q93oAKcKbSigCxH0p46Go4+lKDyRQBw/iw5uPwrkWGTXV+KubnFcrjn1oAZ+FMzg1I3WmAgHJ5oAFwTihiMYoyCxwKRxxwaAI6Z3p/wBajJ5oADycAVA4OeKsds1C/SgCtNuKHJrPRmDEVfkJxiqvljJPSgCKVvwNUnkJfFWJ89jVdEzyeKALETErTZRuxTkTC4qKQEkCgBH4YVdgc7BVWRPlFSxH5eKALyMc1NmoIfWp/egBad0FNGSaf2xQAgUmnbMc0q0UAMkXKdKrkY6VafOyqx4FACr1qwMYqCPqKscYoAaT2NJilOB1owCMigBpUYzmo8kmnk8Yph4oAYwxUUhJHNSsSaQ7dhyKAM+VTiofsoYZIqxITu9qkyqx0AVRCqjpStErjGKXcC9SYx3oAzZbX5sCrttF5aimS8NVmHlRQBbiwBzSluKVMeWRTAnvQA5W7U8c0zbxUgHFAB36UoPNLSd8mgB2eM1CevNSHp1ppGetAEL81EY+M1Ow+bFIw7UAVniBXk1A0OKuYNRFNxNAFCZto6VHb5LVYlTJxUkMAU5oAeGIxVqOQEVVm+XoKWJsD3oAuH7vFPh9xUSnK9amj4NAFhTTiKaMCnBqAFUHqaD1oVh061IMY4oAicDbVywIxVYqGBOalsSFbBoA1uwp6j3qAEE1Pn5aADO5sU/btpoqVSGXBoAZgk0p4pTwcUmPegAB4JpruWoNRMewoAikOKjjUs1K+SamgX2oAmSLAqUD2pUFSYzQA1RzTiop4TjJphxmgBABijHpT1xmlPXigBoqQDim96XkDrQAZxTCcilPNMz2oAiZSTQuRn6VIeRSAYoA6nwofnrq5Otch4XYedj3rr5KAIGrwT9pHr4Z/wC3r/2jXvbV4J+0j18M/wDb1/7RoA8HooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPeP2b/APmZv+3X/wBrV7vXhH7N/wDzM3/br/7Wr3egApRSUooAnj6U5V5OabHT+5oA4PxSv+lGuWIxXX+JwDccVyzR55oArsMCoGPNWmXjmq7DnFAAopTzwKF9KD1xQAxgKjIqRuvPSmPjsKAI+cmmTA4qb2702XJXGKAKLLxUDCrRB6GqzkLyTQBUkjOelJHHu4xViVsx5FVoHO+gCbyiq9KiZAGyRVtpPWqr8vxQA2VcpwadCoCUOuI8mmQncPpQBehwO1SZ5qFAakAyRmgCdcHBpxIzTVxjFLgFqAHgZpQcU3ODincGgBsn3BVZjnircowtVDy1AD4RzipsYqNMZwKnGDzQAwjNIRipMCo2oAQKMZNMl25GBTh05qJ+uaAGYqN6kJA61A7fhQBUZ8y46CppkzFwarsP3uRVktlOe1AGcIZBJnPFWxnAyaGkVQcjmoftAPFAEd1JhhVi1lzVadQ/NTWkZLAUAbEUReBm6YqMDDe1aRRYNLGR8z1mquTzQBIOnHelAJ4pvSnI3PSgBw4FIWyadgZ6U08HigBwHHSmsOlPGe1NagCFxz1ppWnMfajqKAGcYqJitSNgDrVOU46UANmZc0+ORdlUpZQRg9adDkAUAWJG9akh55xUbR5XmpYMdKALSrjpUopFAxTxigCRffFOyM8UxRS9DQA4YHQVLzUa5P0qY9KAGkHFNtztl5pM9ajXiTOaANlG6YqypyMVThbK1aU0AS07pUeeKXr1oAmDjoaQgHoaiJzR0HWgB7jsDUDIcZpxYgVDlmagByxnrViFMGmJwtWI6AJQoxxzTgPUU5KdtoAjZiBUJ5NSSdetR7eaAHKfWnZxTPrTh0oAXPFL9DTevanDrQAGoyDnNT4zSFeKAIOlKvJNIw+bFSRKc0Ab/hgf6WAa7GSuS8OKVuwe1dbJQBA1eCftI9fDP/b1/wC0a97avBP2kevhn/t6/wDaNAHg9FFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB7x+zf/wAzN/26/wDtavd68I/Zv/5mb/t1/wDa1e70AFKKSlFAE0fWpexqKPrTs/NQBx3iUD7RXMNXTeJv+PiuaI96AIHXNV3TFXMcVA6kk5oAgA+tHOaftwaac0ARMKTAqTvSEDNADTjtUROakkIA4quWoAikGGqjeYC1ckYY61XuUDQZ70AU0kHl4NMQfMSOlPRDt5FPK4QkCgBiks2KUIfNzmi3BL5qY/I+etAEU/3CKjtdu7BNPlbKnNQWvMlAGgMCpV5NR09Ouc0APzT1ppXnNKPrQA/jNSAjpUQPNOHXmgB0v3eKqkd6tsPkqvgHNABGRnFWCoIqCMD8anPTg0ANPHSo+9Tc96YRk8UARnmonzj6VORUR54oAgb5hVWQ4OKuuMD3qjMDkmgCuhzKasMQoqqjfvKmlyVzQBTu5D/DVWPdkVNLnrSQsCTkUAP7DmtbSkDzICOM1lOQCK19McDkDpQBt61OjeXGoACr2rKVh0p1xM0smSc1EvBoAkwD1p49qj/i6VIODQAAkdaMjNOIBNR/xUASBjn2pCcigZ7UrDigCNsEVGfSnsKaUyKAGN71XlGQam5U81DMcDPagDHuMiTg1dh2pEpPWq0+DIKfknAHFAF3fkU6AgmmAbIsmo4ZcNQBqfw5zTlqsGJxzVhFOevFAFlcDp3qRVGOaiA44NSbu1ADuBxS5460wZz1pw5NADDmmkfOOalK1H1cCgC/bnGDmryMDVCLjiraY4oAnozk+1NBBNO4HWgBaCeKbmk3cc0AIzUkY5z1pjmpYaAJKsRVHip4kxQBMOmKf0HNCDIof0oAhZMkmm7cVMtIy4NAEeKTFP60mKAEHBp2MGkpw5oAXFOxxRin9uKAIGT5qfH96huaVcZoA6LQWHniuneuT8Pt+/xmuregCFq8E/aR6+Gf+3r/ANo1721eCftI9fDP/b1/7RoA8HooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPeP2b/8AmZv+3X/2tXu9eEfs3/8AMzf9uv8A7Wr3egApRSUooAmjp4HU0yPrT84oA4rxJ/x8Gud7V0niT/j5Nc2etADGqFqmYc9ahYHNACbRUbLxU+KYRQBWK8+lIcbalOc01koAqtyMVC4xVl48VHIPl60AU3TdyKicERkdatFcCqU8m0UAQs+1DxUUchZTSGQEGpIANh96AGwk7jipnPekjgO4nNPKdqAImUsufWoI/wB3LjFXuEFVyB5u7NAFzOU560D60gIIHNIeKAJgwp3G2ol6VKuMUAC1KBnk96YuAakFAA4wlVmIB4HWrT/c61WIBoAlixipMjHSo48YqTNADGIxSY4pW5FMBINAAwOKjdeMinuTioi/GKAGNzVS5wFJxVluDVW4Pyc0AVbbGSWFWLhwIjjpiq8J70+bLJigDMMnzEGljIzx1p8kOTkdaWCPLgUAOkHyjPWtLS8525xniqVwAnWprB/nAz3oAvTAxylc5waFyTU10FMgPtTEwOlACjrTwOaaOpzTvegBWPFR5yaceaj/AIqAJ1HvQxx3zSL060hwDQA09c5phyO9LnJpMD60ARscnmq84BHWrBSq8qHacGgDOkI8wVMEzz6VAUJnGauhSFoAYZcptqGH/W4BqTacmokDLNmgDUjGOtW4hnnNVIeVGatxcGgCwoyKUj0pVyOlLnmgBhPOOaep5phxup30oAcWzTMfNmjNOVdx69KALUZ4GKtRnjFVU4qwvTNAE2cUucimZzTx7UAOHSmk460fjTGoAa9TQcgVVY1Yt2yKALgPNWohxVRME4NXYl4oAlUYprDnOKfg0EjGKAIug604DjmjaM05k2qOaAG7Mim7TUg4PBo9xQBCyGlANSnk0g64oATFLnFKeOKQ0AJj1pFxmkLc0i8nigDa0I/6WvNdg1cboKH7YvFdk3SgCFq8E/aR6+Gf+3r/ANo1721eCftI9fDP/b1/7RoA8HooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPeP2b/8AmZv+3X/2tXu9eEfs3/8AMzf9uv8A7Wr3egApRSUooAlj61LjrUUfWrAHymgDjfEy4lB6Zrlz1rqfFB+dRXK/xUANaojnNWCvFQMMUAIPSkIoA796U5oAjOAKYalK5GaYRxz1oAhkAPSq7jirRFVm+9igCGReOKzL1GAxWu2BWbdfM/rQBm+W23pVmGNsA9KfgY6VKg45oADnHFRbiKnlIVOKq470ANlkPQ8VEWPFSSLnmkX7uKALCH5RTwd1MQfJgCnKpDZNAE2OlOzg0gwV4pcZFADlPqKkGQKaq8U45FACtylVjjNWtp2c96rMOcUAPTrUi/WmxrnqKfjnigBM85xSMOMinbaNpxQBE3PHpUDjBqdlOaY68YoAqSZzmqc8metX3jNUpYuaAGwrhM4qK5nwMCrYjPl9Ky7tHEmAKAESTc1SxkK+agg4BLClMgLgCgCe5YFelLaNswakEPmRZxToocdBQBaEjSHPWp147UyGPHWp0jyaAEz7U4nPSh1Cn1po9cYoAD096Zg55qTPrTWNADlO0c0hOaByOtNJ9RxQAnem7qCcDim5PWgBHJ28GqruTkVYbmq7/KOKAKgU+bmrW4BahDAvzSO3bNAEoAPOahc7ZRTYpPmxUko+YHFAF2Bs1bVhmqcA+Uc1cjXNAFoNuXHSkbcBTQakxuHvQAxeeppx6UoGODRxQAwjuakjpmDmlU4NAFqMHNWV9Krxc8mrK4xQA/tSkmm0vXmgA6YNNc08njpUZ5oAicnOaltX+bFQS5xRbFlkx60AbMfJ6VfiHFULcEkVfjGKAHk800mg9aMUAIOlLkkc0Y9KM4oAO1HIpgPrTieMUAOz7Uo4pgFOoADmjPejNJQA0ikj5kwKViafAPnoA39EULKDXSt0rndJ4lArom6UARGvBP2kevhn/t6/9o170a8F/aR6+Gf+3r/2jQB4PRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAe8fs3/wDMzf8Abr/7Wr3evCP2b/8AmZv+3X/2tXu9ABSikpR1oAkTrVofdqsnUVODwfpQBx/ij/WCuVPWuq8TnEgrlaADLd6awBp/ao2GDigBAtJg5p68D2oJHUCgCM4pjDipTz0phT1NAEDfdNVyAassDmoWWgCtIPU1RKkvWjInfrVZ8A5xQBVdOgFOC9jUijc9Ky4bigCEx5B56VBj5sVcchV96rjlv60AQzLgYpscYIqzMmRk1XQnfigCzENvHFOYd6jz8wFTfw89aACLFTBeaIVUjNSY70AIAOtKB3pwFOxxmgBJBwKrEZPSrR+7UJA/GgARcdqmCDimxe9TgUARtFxxUbKVqdjxTWORQBCVzVdxk4qwwNQbeSaAIyOMYqs6jzBVwgVVyPOx2oAftGR6Vnagq7/lFarqQuRWVd5Y0AUNp2mqyqfMB96uhWzg09Y1JzigC9Ah+z/hRACGOafbN8uPSnkAP0oAkC81YReKiU4xUpbj0oAR1HSm7KdnI6U9QAtAEXl01kGcVYA9aYUBNAEQQYxTHUjirWzA6UhUGgCiwIphz0q40ftVd4jnigCvkZwahnYKKnaIryapzg7aAIUOSTSTZHIpR8q/WmSEkUAEQJcZqzJnK4FVoM7welWZHG8CgC1FnAzxV1OmRVKNsgCrqAhRQBJ1+tOUkUwZLe9S9BQA7rzigqcUKcGnDrzxQBGoI709FzTgooHymgCeMEAVYXntUcdW0KgcjrQAwU7nHSnbe9KMUARnOOlNIOKnHPaggUAU8CnLtVhipWUY4qBvlNAG1bHKCrgGBWdZNmMVojO3NADT1pc0bcmgrxQAhODQeRRgZ5oLKDwM0AJjtS4NG8Y6Um6gB+MdaTHvSbu1Mz2oAk5NB6Ume9J25oAD1qzbrUKKDVuFQDQBrabxKprom6Vz2nLmUc10LdKAIjXgv7SPXwz/ANvX/tGvejXgv7SPXwz/ANvX/tGgDweiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA94/Zv8A+Zm/7df/AGtXu9eEfs3/APMzf9uv/tavd6AClFJSigCWPrUoPJqKPrTx940Acl4pB8wGuVNdb4m5YVyrCgBm72pCAad26UwigAyccUgHHJpRmmnjk0ALnimMD1pQSTTHY5oARiRUUhqWoZTQBVkzUJBHarLD5ah6LQA0RcZqBR+8NWmPyCoBgN9aAIp1NRouBmrEoJNNRAc80AV3fj2qHaM5q5NABHkVVUDHPagBTkYqffwO9RPnHBp6YI5oAsxdKl5zUUY9KmGc80APA55FDDnuKBSluKADA2VEevFTHG2owOeKAHRgnipT8opY1wOaGHegBpPFRmn+9M70AJ1qvLwasc9qhfOKAKz/AHajgUM/NTSqQmabbpjmgCeRQExmsidMuSK0p5BjFZ0gO7NAFYr7U0IasBc9aaVKvQBZsYzu5q1cx7WDVHaAcHNWbj5koAhU8U7rTY8EVKoBNACrjbg09RRtAFKFzQBIq5FMI5xin9BxTec5oABnHNJjvTvxpOcUANaon4HTrUuOOnNMbFAEDoCtVZYAVNXWXiqz8nAoAz3tuOKgeMjtWu6bU96qGPJNAFRdoxxTT80lWPKyc1CyfvOKALsA9auK2elUI2xxnpVyD58c4oAsKTnNSZOM0wr6U8DigByc9qkxTAccCpY8saADacUY9akJwOlISvegCeIVaUDGMVWhIGOKtAj1oATO3ihck0pUsaXAWgB1IcU057UwkjrQAjd+arORnk1M7VTmegDWsZBitQSDbXOadNzg1uI2VzQBY3cZpjOaZznmndaAFzxSZpTikHWgAOaQClPWloAX60hozSFuKAHA0DlsVHn1qWIZoAnQAVZiHNQqKnj+9QBq6dnz1roW6Vz1h/rlroW6UARGvBf2kevhn/t6/wDaNe9GvBf2kevhn/t6/wDaNAHg9FFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB7x+zf/wAzN/26/wDtavd68I/Zv/5mb/t1/wDa1e70AFKKSlFAEsfWnAfMabH1p4+8aAOW8TfeFcoTXVeJutco1ABnjFMJApTnGaZyT0oAdmo3OBmpMY7Ux1OM9qAIwT3pDyaXacU0daAFY46VWlIqy4+XOKpyDmgBCwNMYbqais0uKtSRCPuKAKpT5arSHYavnAFUbgAjNAEQlLcVOi/JmqifexVs5RcUARzEhaplhmrUxOyqeCe1AEqAlachweKIxhTmmrw/tQBdjIHWphVbB2gmpomOMUASkYFJ+FLnJpM460APx8vIpvfinkjbTB1oAnjzipMjpimKSFpDzQApUHpioylBO2k38ZBoAaQR1qFutTsykYJ5qErxQBWmb5afB/q6imB3AVNGNsYBNAFeYFm6VBJGVGSKmll2vgVDLJv4NAELHHvUbNvHSpeq4xUW0qelAFyzHQVdmGIqqWQyavTD93igDPj+9VteKrKDuNWF5FAE68ilHBpqqcdaf0oAcACMnpTSKcMnpTT15oAao54pSMU7AxxSHp70AMyQOajxnmnk5FJmgBjkCqpXMnBAqxIM+1QJ980AJKe2arPIF4xUtw2KqnDc0APUblzUBQl+lWYF4xihkIbigCHaVq1A34UxY+eamRQOgoAtRnIxUvTtVeL0FWRkjmgBUGakQYNMH5VPHjGSKAEbPbpTCOOlSk5NIRkUAPgAxmp89xUEfFTigCWJi1SMBUC5BpzuWHFADiRjrULNzTck9aMcUARsw5qnN14q0/Bqu4HagBLeTy3Fb9u+5M1z4Cg5NalhL8uDQBqKacD6VGpyKcCMUALmnAjvTByacBQAHHajJNBGO9JmgAPSkzz0pc009aAFGTVqNSKqqTuxWhGBgUAOA4zUiHBpO3Sk6GgDU08/vl+tdKelcxpg3XA9q6dulAERrwX9pHr4Z/7ev/aNe9GvBf2kevhn/t6/9o0AeD0UUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAHvH7N/8AzM3/AG6/+1q93rwj9m//AJmb/t1/9rV7vQAUopKUUASx9aUn95SR9acf9ZQBzPibhRXHnrzXYeJ+FArjiMsTQAYzTgKYc9qlQZFADc4OKjfJ4FSMQM1B5mKAHdBzUR60F+aAKAGtwvWoGGaml44qFn+XigBFXDZxSyYJ5NLECRk1G5zJQA4gFcdaz7jIJXrVxsgcdaqS5wfegCrD/rauOw2iqsYIfpUz/NhaAFlXMfHNVNpHar6/dwagkXac0AQDg80xyQcinMcc+lNZt60AWoTvXk5qyFAFU7Y7RzVvzAeBQA4expxFM2gHnrTweaAHhDspVXmlLHGBSpknBoAk28UnrkVKRgdRUR+9QBEwpgGRUzYqIHk9qAGMBimE4HFTdRionG1TxQBX3B5cGrDoNhxUEYUyZPWrB6YFAGTKp80k1Ex+arU5wxBqEQluVNAAuCKV13DpTQMNz2qY8rigAtWCtV92yuRVKOIA8nmrK8jFAFQf601bjXuarMCJcCriHgCgB4HGBS49aewXYMdab2oAUc0hXBpVofmgBKQ4pf4aYSaAFAGDn8Ki/SlznvQQQOaAIZchc5qOEEkmnyMMcUIDtJNAFS5xu5NVxgCnXWS9RoMjmgCxAfQU4530QDBqXbuagBo5PFSpgdRSbNtKvX1oAmXmphkCoE64qbkmgCTjg1ImPWokPWng85NAErAYqIZBp/WjbgHmgAVhnFWFqqAAc5qdTxQBOPrSgds0wfWlHWgAYccUynE801jQBE45qq336stjrVfOScUADYAqzZtzVSTOBUlq/wA+KAN1WAAqUMMcVRTOOTU6tQBY3ADFKDxVcnmpBQBJ1pcEDOKQEUueKAFprHFGcHrTWOTQA5DkitCPIUZrNT74rSjb5aAJT92kHWmluPakU5agDS01f9IU5711R+7XLWAPnLt9a6n+AfSgCM14J+0j18M/9vX/ALRr3s14J+0j18M/9vX/ALRoA8HooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPeP2b/+Zm/7df8A2tXu9eEfs3/8zN/26/8Atavd6AClHWkpR1oAlTqKf/HUadRUpGDmgDmPE4HFciV5Ndf4mIIBrkCeTQAwrzSjrQTmkRhnFADXqBhVmVht4qtuyaAEAx70uO9FKSAuDQBDK2agKgkYNSHk0RqC+aAH7NoGKgI+ap3BBqNsE5oATbxVGdtrdKvscLxVKZMgknmgCsrkmp1UHmqXPmYq7GcAZoAH4YCmzDC5p8nUGoLl/kwKAK4+ahV5xTbcktg1ZRPmNAEakKcVODkZFV5cCSp48YoAmTJNS4ANRJ3qQEk0ASinL1pq9KljGKAHA8c1G33sipsZqOTjpQAwjvTNoo3mlyKAADFRT9MCpM5aopOTigCug5qcZxk0gXaKGY4oApXWM5qtv2jirEp3HBqFo6AI9xZs1IH96i2kGgkDjvQBbjkBNWkPNZsWc81oQ0ANlXDZxUsYLYp+0OeacBt6dKABlIA5oHTmkY5PWlxxnNAD1OKRmyaT+HrSYyaADjtTGUlc1IRt60xuO9AEQJXrSlsihue9RvwtADGOWwKezBUxUUfJzUVxL830oAikCljmmKOeKVfm60o4bigC1AmVOafEBk5pyYENRRHkmgBzfeIpyj5qTGaF60AWYhk5Aqbbg5IqOIY5xVjqKAIlHzUrcEilI5yKY4OaAHqwxinr6Go1xjjrUyjI5oAGQY4qONznGalkY4xiqY3B6AL6tzUn41XQ8e9P5PegB54OajYmnD3NNY0ARSHg1AuQTUsnSoVzQBJ5gVCCBk0y3wsmRTWU9adAvU0Aa8cgKYxUo7GqkXQVcT7tADlB3c81MKhXO6px0oAOnFJnHNIzU3NAD+vSoyTmn/So2oAkiOXrSjHArLgxvrTj4FADnGDSIfmoY5pE+9QBr6e22Vfc11X8A+lcjZf61frXWj/Vr9KAI2rwT9pHr4Z/7ev/AGjXvbV4J+0j/wAyz/29f+0aAPB6KKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigD3j9m//AJmb/t1/9rV7vXhH7N//ADM3/br/AO1q93oAKUdaSlHWgCROtTkfLUCdasH7maAOV8THCVx/Vs11nic5TFcivWgBGPpTVyOcU4rzmnAfLQBE+fSmKmakYilTBGaAGMhFRSHAqy3NVLjOOOtAELN2qSM4GarR7nfBFWWG1KAEZ80gGRVcuc4xUiuQM0AOcAJzVNyGFTyy7qrP04oApupEoxV5ANgyarkZcZqxtwnNAC8Hmq0684qwCNtV5Hy3SgCKOIh6t+XxkVGjjeM1Pu9OlAFC7U9qIWOAKluTxwKZAvGaALKHHWrAAxVbIqRX9KALcacfjU2MUkP+r5oJGaAFLZqGVvenZFQSnPFACbv1ppPHBpFXtQykDNAAOnJoYc5BpmcVPGAw7UAVnkK8U15Pk460+YYbpVSQkHJ4oAj53c1IgHeotwNSA5HFAAUU+lV2T5qkORmq5ch6ALKoQBV+3K45qlG+7FW4gQOKAJZHEZyKQThxjFMuPuVWhJL4IoAtg/NT88U1RSigBRmgHmlXJ7Uq4U80AIevNMduKlYAnIqMgEHigCu0mBULv8uPWrDRjviq7R5bFAERcpnnrVN5CzVYu8qQKhCLkGgB8RBPPSl3LvwtDAbcDioVBDUAaG/EeKSEMenemM/7rOKLeQk+1AFhQQfmpyrubgU/aOpzT4Vy1AFiNMKKkIoHAGKMmgBrikxmnHOKAMigBpAXGKep9aa3FIuTyKAHkVAy4ap+e9Ryr3oAchJ4FTAYWoYjgcVNmgAx70hpcZpGyKAIXWmInNSydKRQMHNADSuaI0IzRkYNLG3U0AW4BwKup05qnEw2571YV/WgCxjuKeDxUKs3pUgPrQAxmyaKUgdqb0NAEhOFqJvmp27IxTcZNADojhq0Y24rOUYar0RytAEp5FIh+cZpKVPvjigDUtGHmr9a61P9Sv0rkbNf3q/WuvT/AFK/SgCNq8E/aR/5ln/t6/8AaNe+NXgf7SP/ADLP/b1/7RoA8HooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPeP2b/8AmZv+3X/2tXu9eEfs3/8AMzf9uv8A7Wr3egApR1pKUdaAJE61M3TFQp1FT4zQByXiYcVyPQ11/iUjbXJAZJoAac0O2Fp7ldvAqNkyKAK7PngGpIyQvSmFDuqUAbcUANL4/GoWGakZcmomO1sUAEaYOcU58GnKwxUZ5figCIpxnFQNyeKuMfkxiqm076AImGKRuFqSTGaqyOaAI1B38+tWRnGDTY0yN1ThR60ARsMLUOwZq0RuGKhkQgigCBkwcinBj0qU42ZqtI2KAHS9KSE5GKjJJ5HSiJ283mgCyUFSRQ5Gd34UmR361MnIoAsqMJ1phPOKlQfu6iYYagBhBzwaY4PU1KPpTWNAEQYjntTHm3HFTbQUxVRom8ygCRiMYqWLIBqDr+FS7iE4HagAcjGCOap3K5GcVJ5hLc0NgjBoAz1U7qtKABzSiIbs1HM2DigBpIDVVkOJM0/zDnFKF3Ng9KAJoRkA1fjIUD1qjnaOKmt3JbmgCxLgpkiqcZ/e8dKtzP8AJiqsQ+b60AWtxBp+c03GcUZ56UATKdo+tJyTntSZpA56ZoAfzjioycdad71G+TQBFM+BwaSAMx5pv3nxUzHYmaAKN4MyfSq+0nnFOlk3MaAcgUANZj0oVcnOaRj8wpU60AStwmKdbjmlZcx1PbR8UAWsYQU6LGabjjpxUikDgDFAFlQCM5owc801AQKcTnigApwAKnHWmgE8inBcA0AQk5OD2pA22lbIphoAN5LdalI3LUAFSxt2zQAqKFGKlXAHrSKmT1xSHK0ATBlxwKjduetJu46VGx5oAY7DpSYO2m8s1SMML70AQE84JqzGo2VEijNWBgKQKAFjYjircY71VixnBFXo8DAHSgCROlPyBRximN1oAcW5pvWk5NKOOc0AGKXml96b1PWgA3VYgk4xVUr81TQ8GgC1u5qVMbs1CuDUqjmgDUtGxID7110JzbofauNtGw4BrsLb/j1T6UADV4H+0j/zLP8A29f+0a98brXgf7SP/Ms/9vX/ALRoA8HooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPeP2b/+Zm/7df8A2tXu9eEfs3/8zN/26/8Atavd6AClHWkpR1oAkTrVj+Gq6dRUzZxQByXiUEj8a5Rsius8SkYrkmPWgBue1OBGKYeKARQAuMnpSnB4o96ZyOaAA4UYqsRluald+KjBz2oAdwB0601uOlOYgCoyQe9ADOQDmmAc9Kl6ikGAcUAVnTcaryqBgGtJk2rn1qi8e5smgBIx8uKkPy4pAAMe1OflaAGA/NT22sM1UdiDwTT43PfmgBH9KrSjJwtXGU5zUMihetAEKjIwaQAh+KevLUpG00ATKMjnrUqZ6VBG27vVmIjdzQBeiGE5qOQDPHWpFb5aa3PegCPFRNjFTcCo32mgBmRtzmonYDJo9qrTtgGgCWNgzGpHOFIqvbLlcmrPBGKAIFXvTHz1FLPIYuBUHnZ70APZsVWuGOelWvvJ15qrMhB5oArE4bNSo+T0pmwZp2NtAEqnL4NW4VwKzFc78mtW2w8dADZOTikTG6nTpjpVVXIfk0AX0p9RRkkZqTpQApPFMAp54/GmEEZOaAFLY5qCSfHSnFgOtVJGy/FAFiEFm3VJPzFS22NvNMuHA4oAzWHJ4pqMec1Ow3DioSpVqAGt97pU6J0NATNSL16UATFB5Yq1AgWPioOq4qxFkCgB4HNPVV70ideaeFGelAEnOMClxxx1oXpRQA4cjFPWk/hoDEcUARSfK3TNRDB7VakwR0qA8CgCJh6UgODQSc0nTmgCdScA1Yj2uMNVVCStKr89cUATMuxsUw4ByakDBhg1XlyvWgBRjOQKa3zCiH61JJgDigCEHb9akRxj+tRsOOKAcLQBaVgTVqI5xWdG2CK0IuVBFAFncOlNYnNIFooAevSlNMB5pcmgCTIApNtIOTUij3oAixzTlIBocgZpiHmgC2DwKnB4FVozk1OvPFAFy3b94K7azObKP6VwsGfNFdxp5zYpQBI3WvAv2kv+ZZ/7ev8A2jXvrV4H+0l18M/9vX/tGgDwaiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA94/Zv/wCZm/7df/a1e714R+zf/wAzN/26/wDtavd6AClHWkpR1oAkTqKsc1BH1FT9qAOP8Tda5NsA11fic965A5LUADNkUgJpG4p6YIoAepOKaWGKHYAYqLnaTQBGx3N6VIANtQDl6mb5UoAryZ55pg7CkkJJ4p8SHAJoAmROKYUJbNWlXiggKMCgCrITtxiq/bkVfIB61VlQAmgCq2c1JHynNI20Dk0zzdvAoArSofN9qniTAGRSr8xyalA4oARzjpVWcFlzVg8VDM3yUAQQL83Wp3UNx3qvEcN1qZTls0AMEZBJp6MQ1WBHlajaPb0oAuRsGShjgdarxMwWmyS0AWM5T3qHOG5NRedx1oL5HFAEm9Ryaqyje/FKwOc05Mk57UATQrtTGKBgHrTsZFQS5VeDQBHeKHUYNUSNtTs/GCaru3OKALEUg4FFyc85qEeoonJJH0oAaq7x9KFXdwalhQbaUhVoAh8oVctPlGM1CNuDzU0ERGH7UATzD5DWZISGrYcfuqzZVy3SgB1vNwFJq6CCOtZ4XBzT/OPrQBdDfN60MRg5qn55BprT7gRmgAeTJIzTVAPvSIuW5NSFcdKAJInHIqK5POaVMhuadIAyc0AV0+7UZBaTrUyDmkI2tQAuCop4AOKjk+bFPj6igC3GvIzU+BnioU4INTDk5oAepFSryfaoxz0qQZxQA7FOHTFC/d5pTigAGacQCKQcCjJNAAenWoWU1N8o600mgCsy84pjdanPOagbg+9AAp29+KcDhqj57049aAJvMHanMyumD1qEY7UHtzQBJtKjNOA3DJqaJPMTHemMm00AROuDQEG2lb3o3fLxQBHtweKu2zHpVXBPUVNCxDdMUAaK8il25PAqJThaeHIHWgBcY4paTNSIMjpQA1cjmnA0MMcCm0AI/JpBSMe9R7uwNAFyHI5NWFbJqrGSAKmXrQBoQgbwc12mmjFitcRCfnFdvpfNgtAEz9a8C/aS6+Gf+3r/ANo1769eBftJdfDP/b1/7RoA8GooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPeP2b/8AmZv+3X/2tXu9eEfs3/8AMzf9uv8A7Wr3egApR1pKUdaAJU6irGMrVdOoqx/CaAOM8VcVyG4ZrsPFQO3OK4rcd+M0AWMA4p+0KKbH0yae+cZoAgcAmgYC0hJzTSwFABtANRSvk4FSFvlqHvxzQBA7YNWrc5FQtHnrVq1QelAEyt2NKwpxXD0jEdKAK7nHUVA5BNTz9OKpEknmgCOROc1Xx81WmJIpm0HgdaAIwxBxUik96Gi280059aAFPPIqrM3UVZX7pqu4ByKAIAcGrUWCuaqsMcVNFwOtAF5OnNOK7hioY2LcVMgwaAH+UPK96pyLzitPA8uqMmFfkUAVmi4oi4yMVYbLDgUxUOaAKdxIynipbd8pzS3a8ZxVaJip+tAGihLH2qO4AANSRA4yKikUlzmgDOkX5s0mB+NWniJ4FQbCHwRQAir3ofBYCrYjHl1A0eHyaAAnCVXLEmrJ5XHFVSjMxAoAdH87da0IwRH1qjEvljOKuRPuIyeKAHNIcECqrtkc9aszDC5WqBJ3HIoAdu4NKACM0i81IBgUAAQEUxoyG9qeGIOaR5MtQA5AAKV8HFNXkU2VscUAPHB609hkYqJQSvFShsLjvQBCqkGopnwcVYLnkY61ARluaAFjBYZNWEGKaBgcVMv3elADgTmpkBIquud3TiraYC0APX0p4pFp/XpQAu7FGaXtSqKADdxilDbRRjvSPQAn3uaRs4609SNuKjkODigCLcQaa/NSfepjjFAERwFpQ27g00nnFIFPWgCXG3PNRL98U/eNuKiUFn60AaMcu3Ap7kPyKqqMCnxyHeKAGScUAYWppF3HNKke5QSKAGKDUy8DNATtQ6kLxQBZTmnMMc1WjY4qTcdvNAEoJxUysVWq4PSn84oAl3ZFJ2pgPFLzjrQA1sc1GnL05jTYid9AFonAAzUsbVCVzUsanHrQBdifD12+jNusBXBpkOAa7jQz/oOM96ALz14F+0l18M/9vX/tGvfXrwL9pLr4Z/7ev/aNAHg1FFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB7x+zf/AMzN/wBuv/tavd68I/Zv/wCZm/7df/a1e70AFKOtJSjrQBKnUVY/hP0qsnUVYP3D9KAOT8TgtBketcRsAcmu48QNm3Ye9cdt+Y8UANQ1MV3LQqjOadkZwKAKxXbUO3cx9KtzgbeKrpgCgCNkxmmonOaJWJORTEkI60ASEbnAxV6KMKmRVKLLNk1fDDy6ADGRxUTKByakQ0yQk/QUAVpcfhVV8BeKnlPFVHJzQA0cmkXrS45oHXjmgBzHjFV2I6VOcntUEi0AOXkYqB154oDbTyaUfMc5oAj8vimMxXAqdgRVd1JNAFqCQY4qyuQcnmqEORwatqT2oAuqdycVBIuTjvVmFf3earXHytkGgCPYV4pU+9zQr7+tLwDigBl2q7elUEXLdK0JMPwajWFQcigB8ZwuKURFuaQEVahkTFAFRoSvUVXeL5ulakrJVVwpORQBU2lahmyKuMuBk1SuTlulAECvl+KnBULjHNQoAG6VP5ZY5oAXbvXAqRYSqg5pscZU5NWSAwFAELZ2etQhAetSSSBOKhRyWoAd5eOgqNmKirWzPeoXjy3TigCuG70uNxqRlXOBQqigBMbe9OCB+abJ19qdEvvQAjHAwOKQOR15pZEpmw4oAQuGb0pTy2RVchlJzViHBTJ4oAfF1yas7/lNV1APeplQbKAEjJJxVoZxzUECjdVo8HBFACoeKmVe9QgCpwRigBelKtNY9xQpoAcTzxSHntS5o6CgBc4HSoZOealPSmnpmgBgwBTH9akGAOaR8bc0AVW60u/A6UEDND4C0AQtkvxVmCMA5NVWcYz3qe2csBQBcIwtRDAqRmOMU0YJoAdG2Tg9KsL8oxioEUZzVxF3LQA5EBGabKAF6VIucYFNmjPl5I49aAKPmbWxUyuMc1TkQ53CnxSgjHpQBcDVMrEiqgcZFTK/pQBLn060oz1NNQ88052AWgBjdakhQCq275uKnR8daALm0VKhAqGPkcVYRcdaAHL/AKwCu40QYsPxriVGZRXcaQpWwHvQBaevAv2kuvhn/t6/9o1769eBftJdfDP/AG9f+0aAPBqKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigD3j9m/8A5mb/ALdf/a1e714R+zf/AMzN/wBuv/tavd6AClHWkpR1oAlTqKlblTUUfWnk4zQBymvn92w965YDmun8QHIb61y4zuxQBNtAWoSpU5qwq8U11FAFV2ycVAT1zU02F5qk0hJ6UAOwC1MMXzZGaaGIPNWIwXoAeiYXg1L81Nx2FSc8UAAyvJpruAuTT2Unk1DKO1AFV33npUbYxVnaNuapydaAI3bB4p0Zxyaj2ndUoQ0AO3fhTHHy5qQISaa4oAoP97pTozjNTMnNMKgDigAKljwabjFCMd23HFSFSTQAxcbsYqwi80xYhnJqYY7UAWo/lTiqVx8zGrsYJjqvJH83SgCKFeMCiSNh82alRdnOKczhhjFAFEs4yadG7OMU5zzg06NdvIFACheOaNu0ZBp7HK8CmhWIxQAoBK8nNM2nOKn27U5NRZ+bpQA1l+XFVJI89KvNypqBlxj1oApBdrVYTpyacEGckU1h82BQA0yHd0qdQWUe9ReXk9KmZSoGKAIZLcMc5piwBeRUzE4pnzAZoANwHU0vDfKPzqFuOtKpyeKAIpF2vilXOamKdzQse3mgCCRD3pUwq1I/uKgdgOAKAB5G7UiNTOvSlHy+1AEhUMacUGzimFOAaljBPFADUjOelWSu2Ok6DFK4ITPWgBLfO7mrjjJ4qpDwQatKwPBoAdjoDUg4/GowKduoAXqKTnOaRfvVKADxQA1c59qkHHWkwA1KeBmgBrZIpgUkGn5yaDx0oAgdsGmO/HWpHXmoJVFADC3PHNRyOTx0qTbhai2bjn0oAhH3sVbi/d4qqQN+KsfwUAXVfIp5Q7d1VIGNWxIdvtQAsfI5FaFuPlI7VnA81fgfauDQBKQEPFQyyFl254qRpQwxUTDuaAKbpkGqwBVuKvNjaTVVl70ASIOM55qROtRJwM1MrYHAoAsJjimTHBpwPy571FId1ADUPNWEBLe1V415q/CAOaALUC4XpUvSiPGKfwDigCSFd0i13Vgnl2KD2rjrNA9wgrtYeLdB7UAI3WvAv2kuvhn/ALev/aNe+NXgf7SP/Ms/9vX/ALRoA8HooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPeP2b/+Zm/7df8A2tXu9eEfs3/8zN/26/8Atavd6AClHWkpR1oAkTrUjdDmo06ipGUEUAcnri/ern/KxzXUawnyMSK5yTG0igCs8hUVXabPU1K3Oc1SmJzgUAKxLtjtSyQhVzihMqMmlMm4YoAps3PSpopMcGmMBnFNPTigC8rZqVcZqnA9WkzuoAnZTjJHFVJuvFX93yYqlMBnNAFOUkLUAXI61NNntTFUkdKAECACgEE4FDllGKhU880ATF8HimFgxpR89OKYHFAFWQnJph5FWHQMKiOxRQAiKM05vlFRhsH60/aSM0ANV/mq1EM81VVMtjFX0AReaAJA2FxSHnmlGNlNBoAa2MYNV2yrVYIyailUjpQBSkP7ynPLhMA0xyQ9GCxoAmt2OeauqQaqRIQOlTRnBxQAsp5qImppANuRVcjjrQAkeS2KklTABohHOcVZmAKCgCiCDmkEY6mkZCrcUvJoAV8Y4NPGCozVVyd2Kn2kIv0oAafvcU1ulJjHemyPxxQAxlz1pY1HeomctUsZOOaAHsyhcVBJKVGBT265qs55oAVnYjNQsTUmTUcowcigAjY5zUqqWbNRxKWYCr6osSc9aAImTCUkZwamGCtNVRnNAEgI7mnvzHVdz8wxUpYiPmgB8X3eRT14bpUEb9qnVh60AT8HrSjrTQCVzTlBzzQA4AGl5py4xSkCgBvvmnE5HSm4oPXigBAfWjIxxSck0YwKAI2BJqNx6ipicmo39aAI34j6dKhMg2+9TlvlqlIQTgUAC8/Madv4po+VcGmpy3FAFqFsdsVLuJ6VXORipUPI5oAnUnIq2hqsmS1W448jNADkcZpzkFaTyyp5FOVdxxQBWZSRQV+XpV4xjFV3wMigCt5ZPSp0TA5pm/aODUZuD0oAtA5qFyQ2KYLhcdaZ9pVnxQBZWrcPas/ee1W7ZiSOKANJCBUg5PWoRzU8K7mA9aANnSYgZN57V1ScQqPasfT7UJCoxyRk1sDhAPagBjV4J+0j18M/9vX/ALRr3o14L+0j18M/9vX/ALRoA8HooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPeP2b/+Zm/7df8A2tXu9eEfs3/8zN/26/8Atavd6ACgdaKKAJFqb+GoFqYnAFAGHra/umNcjKcE12usJm3Y1xc6nJoAoyPg4qIDc+SKkdeacFwKAIpVGOKgxsUmrezceaimAxigDOeQ7qVctRIoz1qS3jyaAJIcgVajPPNQ4KnAFSJnNAFgyECq7sTmpgOOajbAoAgKcZpUHNPZqYZQx4GMUAR3Kd6qBeeasyEtUJXnrQBNFDnmnyKVHFLCcDFPc5XrQBSZTiqciEtxWlkNxVWZMHigCDy2IqSMcYNSJ93mmOdp4oAeEwc1OO1VtxwOKnQ4HNAFgA7KBH3p8YynWnmgCtIuDxTHA21PKuRxUDZ280AU5UUn3pqoQRUrFQaaG3NxQBaRPkpmzDZpyMQuKR8gUASYDDApPJzUcbletTCTKUAMICDjrSFiwHFM3ZbmrBxtHFAFOTrSKKneMbs0xgAOKAIJBhunNSv/AKteMcUbd5+lSOn7sc0AVscHNVpCVNWX9KjMQK8nNAFdQGapyNq1FjYc0rzDGM0AQyyHdgU3G7mlVSzZ7VJs5xQBEoDHBpWQdxUnllTnFK/IoAhjXDZ6VMWJPXioj1wDS9utAE4+YYqQDCE1FBgDPenNJuBA4oAiL5cVO3KVRdtrVN5jFQB0oAkjBAzU8YyajhGatouO1AEiA7akxxUZbC0Bu+aAJFxinZqPrT1XNAC4qNyVNSdDUcnPagBu/wBqUvxx1qP2phbb60AO3HuKjdueacrZHWmsoK0ARSSALxVdDueibripLdFAoAV146VCvytmp5COlVicNQBY3c0gJ3imjPWngMSOKANGLhQTV6KQYqjB9wZqbvxQBbMin3pn8VQg7acrZoAthgBk1QuGy3FTMxKVUJy2DQBGzELUBYk1Ylj461RdijetAErcilghYvkHNVJJvwq7aSHHWgDSSMFOanjwmMVTWY55FW15ANAFpZKmhmxIpHrVcL8tWLWImVeO9AHc6XI0tspYdq0W6VRsE8u2Qe1XWoAjNeC/tIf8yz/29f8AtGveTXg37SH/ADLP/b1/7RoA8HooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPeP2b/8AmZv+3X/2tXu9eEfs3/8AMzf9uv8A7Wr3egAooooAeKlxlRUIqZD8tAFTUYt9uw9q4a5Uh2HvXoV0u+E/SuDvl2XDjHegDJcHdzTWkHTNWJV4ziqIjJloAnLYWqkrmrM42pVFnA60AVpCc5q3bHCiq+Q7dKtRjAxQBYRgzYxVlYxVeJMPmrZPFAELjAqLA65qeU5quQQOKAGvjtUD9OKeRzUbsMcUAR4wc0mMnNPUZGTTG4NAD489KmIyKhi65qZju4BoAiwFNQyMu7mpnyOoqrIMtmgCUAHoajaPNKMhacDkc0ACRfjUvlccUJmpVBIoAdECBUjfdpAMLS4JoAaOlMZAwOelPxRigDIuUKyHHSiEfNzV24RaijjGc0AOb7uaQNuFSPgrVcg5oAG4PWlVjnFGw4pACpoACpLZqwCQiimKQwqdcbQKAI2OKiYE8VNMVHAqHoKAI1yDinyZCD0p4HtUkyEQrnvQBRODUbHtU+ABVdyN1AEMhyMVA+CvpV3YNvNRSRD0oAbbxkjrxU3ljP0p0RCpwKaQxNAClSTgUx1CGn7ig5qu7lnoARwAcg0xEJbrT2XcBipo4xigBpYRimkgpkd6dIB0NR4PQdKAIdhzVhYztFNC81bRflFACICpBqwHzURHSl4oAcWyMA0seR1pmDmpolyOaAJF5GKlXgUwcdRQDuNACsSaiPPepWBqI4FADcHNRupqwpXZ71G/K8UAVi+OKRJQM5qGQMDTMnNABIdzGljJFOIwv1oUjbQA9jmq8qndxU/GM1H944oAIs4wTVpGGKosShp8DsZPWgDTjbtUuTnrVcZUVKhBHNAEhPrSKxFPVd3anFD6UAOz8hqizFZDVw8JiqMy/NuoAkZ961WlUGlMmBimeYM8UAQtBuwantwIxirEaApyOtMdQh4oAcsvzVoROSBis1BzmtCA8CgC/GT0zW9o1oZplbHA61i2cRlmVQMkmvQNLsRaWw3D5iMmgC0i4AFOamj7/tStQAw14P8AtIf8yz/29f8AtGveD1rwf9pD/mWf+3r/ANo0AeD0UUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAHvH7N//ADM3/br/AO1q93rwj9m//mZv+3X/ANrV7vQAUUUUAKKmjPaoRUiHBoAkblSK47XIAk5bHWuyPrXP+IIN0W4DpQBx7ydjTYlXdk0yY7CaWN8rxQAlyAQaypl9qvTMTVRlJPPSgCKIegq4pGOetNiVe1K47igCxGwOKmboKoITkYNX4/ujPWgAwMZNRv0qSRtoxUJORQBDJ7VVdeetWz1qNlyDQBCrYGKdszTQDmlVyDigB6KKV8A8U0ZBzT2GRxQBAWJqM/MaH3BsU5RgUAKF+XFNCmnr1p+zNADVzVqPFVh6VIj4NAFsIMcilIA6U0PlcZp2MigCPYM05hheKacg9ak3cUAUZQGamhQBxVxlUjNVn+VqAIpMjpUYXJqTqafgYoAbtwKYwJqQe4oJBFACIgxT2yi5psW4NU8z5iANAFQtvOKcqY61GODkVOh3CgBNoFOmb90ozRgVFICoFAFdhUbIKkkPIpSFK0AVt3OO1KVLfShlAPBFA3UAOChaaX54pwR2+lRyDyxQBFISx60gTI5pFHmPxVjyiKAISCgwKVM5zUzAAc1HnBoAjc5bmpVxtximCMls07BFACFRuxU3KLTUTHJqSQZAxQAAkinhc1GrgHBqVXFADttSJgUiuCeRTuB3oARm7U6M8GmfeqRBjigBzH5aqsSWxmpnOByaqlvm60ATAYFNbJ+lCk49ajeXbQAyQYqvtLSe1SPLv4FTbAiZ70AQsvGM0KADRvB60DOaAEIGetAQelO2HOaf24oAgaINU8EKqQabkVLG4xQBO4BXrUSttOKTcc03B60AX4mxUxIxxVSLpUjSehoAbIxzUUpynNI7H61WeXPy0AGAc01U2nOKmhQYyaVlJ6CgBFkORmlkJPvQox1FSYBAoAZGM1ehzUUcfIq9DESQKAOl8M2pmuA5HC812UrBUxWX4bthb2G/+JquzMWkxQBKnTNBoH3RTTQAleEftIf8yz/29f8AtGvd68I/aQ/5ln/t6/8AaNAHg9FFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB7x+zf/zM3/br/wC1q93rwj9m/wD5mb/t1/8Aa1e70AFFFFAB3p4plOFAE5Pyiqt/B51uy+1WVORilddy4NAHmeoQGOZlPY1SGUWuj8QWfl3BfsawZE+WgCuRuqNkIUmpgMCmlCwxQBXTO6p9m4YpAmDyKmXGOaAKvEZ681ct2Lc1WdAzVPCMDFAFiYcZqpyelWZDhKrKwEntQAx8gU0HK1LJhjmoRwetABt4zUDZVutWSRtqoWBfpQBJknGKmj6VGgzxUg49aAIJl+agDill5NLGMrQAwilEmBinMnHNRmM54oAXOadnApAMdaZ1bOaALcfY1aRgwqvEMqKtRx/LQA11HGKjcHFT7T3pdo64oApcjikZMjNW3jBHFQsMUAVPKO7NSLHxUuB3oPFAEEkeB8tMjB3c1KXycUqr60AOVOc4pk+ABUrMAtVpj8oJoAYcY4oXO7jpQoDCngjFACnp1pZI/wB0DmmjBqcrmMZoAzpBiocmrsqDvVNl5oAhw2/ParKAY5pVj49qawx0oAlDKoNZ90wJxmrG0mopLbdk0AQw7VOQasZZz14qFYQhqyOBxQA1k4zSKozk0pkJNN/i4oAexA6UgGTntSMCaCdo4oAk3LuxT3YeVxVLzPmqfeSm2gCBSTLmrSY71AqYORUvbg0AScZzTiwIwKYQFTJpitmgCePNT9BUUIHenyOBwaAIJ2NQDJ6Gi4l9KjiJNAFpW2rjpVWUEnGetDs+cCljQ7smgBY4cDJqRz8uM81Nj5aZ5dAFQ4Haljf5uRxUjp2oEWGzQBIfu5FMZhjigniq7yc4FAEg6E09Sc0kKl+DVtYNvSgBgXPWpFUZ5qRYiKYVw3vQAMSgyOlRKzO3HepJM4FWtMtxPdRoBklhxQBGNPuWj3iJyvris2aMo5yMH0r3m2t44LKOLYoVUAIxXjviXypNbmEKhVLnAFAEeh6TcateJDEDjPJ9K9OsvB+mW0IWWPzXxySeKr+CtKWy0lbhgDJL39BXUZxQBhXPhLSJ4yot/LJ6Mp6Vwev+H5NGm/vRN91q9ZrF8T2SXmjyZHzJyKAPL4MGtWyj82ZEA6msqJdjke9dd4ZsfMm85hwvSgDqbZRb2aoOwpEBZsnvUr8jAFLGMDNACmmnrTjTKACvCP2kP+ZZ/wC3r/2jXu9eEftIf8yz/wBvX/tGgDweiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA94/Zv/AOZm/wC3X/2tXu9eEfs3/wDMzf8Abr/7Wr3egAooooAKUUlFAEqHBqUmoBUoOVoAy9as/PgJxyK4q4i2ZBFejyqHjINcdq9r5chIHBoA53Z7UoUg81aCDNNdRQBUYfNTGyDxUrNtbBpm4MaAGD1p6k0oWpUUZ5oAY4OOtRhOelTyYqMcGgBsg4qDyznNW2HemMOKAKzjjioCuDk1bYVFjJoAWPAPIp0pHUUuzikI9aAIGHelVsdqWQcVGu7vQBMDuNShR3FRxAmpmU4oAgdRyahVcnipnBI60iRnGaALMZ4AxVtc1UjP86uqQcUANPIpF5qTaDTcYoAQ9OKruvOalZ8cUnLUAQbcikwWGKnYDGKjPAoArmPa1SKMnk1IPmHSo5PlPSgBzIKqTjjpVqKTPBFRXYwnAoAqRkk4qRwAOajg+9zUsoGRQBGJCOlWTNmEVW2A9KnWP92KAIC5J5pCm7tUxhOc03OzrQAwIe3ShkCjrSE88ZpDknrQBGQM08gEUxxj60zeRwKAEdD1poBPAp6yndgj86sRxdzQBUW3YvUzxiNfep2ZVGBUD5c4oAr7stVeaRi2BwKsOpTJxVFyS1ADgrM4weKuxrxVSNti9OakS4ycHigCaRggxTI8k5ol+daIMhsUATtytQDhqs8U3YpNAE0R4zTbjkcVIowlQyHPBoArBN9TpHtGaEQ9aQSEvtoAcY8nOKeq9qcAQtJx3oAa4296N2BSSN2pqYNAEMz4brUiHctQzryMDmrEUfAxQBBMpxxUcUWTk1blTAqINsHagCxHHtxirg4AqlDcBvwqcylhxQBL5gJqNzk1Hk00yFetAD3HFbHhZM6zAD/eFYRmGK3fDLganA2cYYUAer3BxbSkdkP8q8Xkha51pk6kyY/Wva2UPGynowxXEweEZ4tfE7AGHfu3A0Addp1uLTToIf7iDNcB4q8SXA1FoYJGVEOMA16QR8hUemK8y1nwtqE+ruyRFldshgOKANPwfrN7d3fkyOzoeue1dbrBA0qfP92qPhzQl0i0G8AzN1PpVfxbfNBZ+Sucv1oA4S3iD3e31avSNPgjtrRFRQOOa4TQ7Rrq/U9gcmu/AwgUUAO37jxUvQVHEmOT+FPNADTSUUUAFeEftIf8yz/29f8AtGvd68I/aQ/5ln/t6/8AaNAHg9FFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB7x+zf/zM3/br/wC1q93rwj9m/wD5mb/t1/8Aa1e70AFFFFABRRRQAoqRTg1FTwaAJxzWdqdiJ4WwMmryNg09sGgDzue3aGUqwxiq7DNdnqmli5UsvDCuUlgaGQqwwRQBnzR/Lmqi534xWjMMjFVxFhs0APRMinlOKVAcUpzmgCEruNO2hRT+O9ML84oAiY+1RsamYZqNuOKAK7HFIvJqUxk9KckeG5oAFxikYg1MUAFRFctQBCycHNM2ccVaZRio9vOKACMbRzT2bjinKFximScDgUARHnmnD2qEZ34qYZoAmUZIzVjOABioYRnk1Y2jFACqafUIyDTg1ADWjBNMUEH6VPtzTSuKAGFM0wx44xVjbxmkNAFfZjpSOoxipu9MZct1oAr+Xg1K8IeCpAoAyacWHl0AZLJsPpUZbJwauToDk1RI+bNAD92DU4OEBqvj86kYkRigCXzMmkaMPyDzVdWOcZqTeRQBGy7TUO/nNWSxaoTEA3NADSd2KQxn0qZUAPBpdw6daAIPK+YGrGQsfWmN1qJ27UAI7c5zTUfLUFcigIVOaAHsFKnNVRb5JOKuBdx5pxVVWgDKk4fbUJU5zVqVMyE1FtJNAEsJJXBqcRlOcVAgYNV2Jgy4NAESqXyfSkIKmrgAVcAUzZu5NAECu5FKoyeRUuApoXDGgA6LwKgCnzM4qyehqLOGzjNAA0hU4pC+U96axzyabuXZjvQBCZCX+lCS/NTdp3VPHCOpFADwokYHFWkCxrTVUBeKpzzsr4oAlnYE1Vb5uAad5u5afHHu60APt4OKteSV+lPgTaKtcMMUAUSnIxUcnpVxwFPWqsgJbC0AV5ECjJNSWF61vco6nGDmo50cL8wqtGDu6UAe66LqSanp0cwYFwMMPetGvG9E1u50qQNGxx3B6Gu5s/HNnKg+0RsjdytAHV0VzB8caaDjD0f8Jvp+3IRs9uaAOnrP1eziurN96BmA4NYieNbdjzCcfWrcevG/+SKPaD3NAFbQ9NFuGkxjPStgDLYpUGyMADmngYHvQAvQUw0pptABRRRQAV4R+0h/zLP/AG9f+0a93rwj9pD/AJln/t6/9o0AeD0UUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAHvH7N/8AzM3/AG6/+1q93rwj9m//AJmb/t1/9rV7vQAUUUUAFFFFABSg0lFADwalB3DFQA08GgBzdOlZWoacl1GWQYetbhh703ZzQBwNxaPDIVcEVAU9q7nUNNiuo84w3Y1yV3bNbyFGHTpQBRIwaXHy01yc0oPy0ARPkGm7cmlb5mIpyxnvQAmOKhdMnNWDx2oIyKAIVTAo78ipOKjkB6igBHc44oRMjNR4Jp6E4xQAFc8UgTtUwGeTSEDPFAEYTBpjjNTEYpjKaAKoXBzU2AaXaKVcZ6UAWIgMdKcxGcUiHinGgBgGT1pxXApMYbmnk+lAAmcdaU9aaufpSlaAJB0qM81Jt4o2+1AEYANNKc1KVxQFoAjKcVE4+XirLDAqMrlaAKTLkdartBuNXimKaRzxQBnvEUNOxuQCppgar8g96AHCHJ+WmFeaswgBgc81DJ/rDgUAR/d+lRsSam4xzUZAJoAg8w5xmnqct70pt8nIpEQq9AD8HvUbLuPFSucc9ajVsNmgAWFhUjJhc1MgDikcbR0oApjIalck04sN1P8AlK0AUnTmpIoh1NLLgHpTo2G2gBjoAeKIyRQRluDUiRFl4oAkT5u9T4XbUcUJxT3UqtAFd+ppsbc0MeTUQ65oAklk7CnBCVzTVUNy3SrsCAj2oAosjAdKrlWLdK1JgBmqYGZKAFjhyMmpOF4xSkhV4poOetACEk8VWli3HmrfelMeVoAzQpVqvW4B7VAYjv6VpWsGBQBIqHGacHCDFPkwsZrMeRgxwaALErKTSJnOahGW61YXgYFAEd028AYqBYQBuqyy7h0qN8omMUARBscUM/pUWeaUHNADSWJqeMMcAURxlm6VsWGmmRgzDjNAC2Fi8rAnOK7nSrERoDjHpUWnaSSqsVwBW/HEIkA9KAADApppxNMNACGkoooAKKKKACvCP2kP+ZZ/7ev/AGjXu9eEftIf8yz/ANvX/tGgDweiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA94/Zv8A+Zm/7df/AGtXu9eEfs3/APMzf9uv/tavd6ACiiigAooooAKKKKAClBpKKAHg1JncPeoQacDigCTPY1n6jp6XUZP8Q6GtD7w96T60AcDc2bwyFWGMVXKHbiu5vNOS6XOOax30nyiSRmgDm4wFkBYcVbnkhYARpgVdutO+XcFxVTy1EeCpzQBUbBqI09hhuKCKAISpzxTgM06kGQaAGlOOKFXtiplGRzS7cHpQBHjApAAOTTmHNJigBhPPtQ3I6U84AqPIPagBpT0oVcHmpO3SkzzQALx1NSp83eoT0pUbJwDQBKRzTsCmk80uc0ANPtSjNBGKBwaAHgnpTxSIBTm6UAC4Jp2KjHy08njNAC7d1IYuOKVDUg+6aAKTDHWoHAzxV2ReKqMvNAEDJuFNMA2+9WQnemMccUAQRqQ44psiZkPFWYyN/Shwoc8UAZkq46UigVbmRSMiqhzQApkCjFC4YZqBuvNOUnGBQA7GTimvFg1ICBTHfPegCeP5U60ySUbaYr5XFRNnuKAIs5fipA5AoUDOcVKsQzk0AV2BelVDmrO1AeKcIxu6UAQCE9aswoFGak24HNKUyOKAHAqRgVFJ90gGpEGBzUUgFAFNhzTCBU0gwaRY9wzQAwuAuBVmB8DrVdoTuqZflXGKAJSfMOKiaHac1YgXd1qSZPl4FAGafvYpw9BStEc5Ap0cLdSKAF4VeaRDmmOpL4qykQC8igCIY31bUlVGKrhfn+lSuxC9KABphggmqwj3vwKWNGkl6VoRW7hh8lAEEVi8n3aetpIrYxmuh0/S7meUNHGQvckVux+H4k+aWQBvagDgWtpEPKn8qcYAy/cJNehnTNPxhl3U+LT7EcLAv5UAebQ6HcXTErGQPXFadn4UuGkHmJx1rvkhjT5Y4lA9hVpU2jJoA5KLwqoAOzn3rbsdGhtwN/J9K0g5Y4UfjT8Ac96AFUBRgDAprGgtUZNAATTTQaSgAooooAKKKKACvCP2kP8AmWf+3r/2jXu9eEftIf8AMs/9vX/tGgDweiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA94/Zv/wCZm/7df/a1e714R+zf/wAzN/26/wDtavd6ACiiigAooooAKKKKACiiigApc0lFADwafnPBqLNKDQBJ93pTZEEie9KGpevOaAM6e2kZCAKwL23uFDARH8BXZdqjZR3AP4UAedfZ5w3MbflSiCbPMbflXoJSM/wr+VOWCFh9xfyoA86aNh1BFNCOTwDXoMlhbufmhQ/hSRWFrGciBM/SgDhlglAyY2H4U05B5Br0MwQuNpRcfSqsujWb8mIZ9qAOFP0pmK7R/D9m4wAwP1qjceGygzC+fY0AcwVpBGK0bmwlgOHQg1AseBQBCE4qNlHSrmBUbIBzQBUdDjimohXmrZQEcijygeKAIASTUgpRFinBKAGt0ptS/ZpCu4KSKclnO5wI2P4UANUj1pakks54uGjYfhU8OlXcq7ljOKAKbDA4NMDcVof2Vcq4Dxtj2Fa0HhuKRQzSMM9iKAOeTJ6ZqXDAdK66DRrW3A43H1NTPp9tKMGMfgKAOHbJ4xULRMT9013q6XZ/88V4p4tbNBjy0H4UAee+VKeAp/KpE0u6kXcInIPtXf8AlWY/hT8qcZIUX5AOKAOIh0G7PJTAHrVS50m7EhKxOfoK7d5pHJCjA+lIxkA4JNAHn7afc/d8l/yqJ9MugD+4fA6/LXfPJMDkKD+FXIpBs+dVJPtQB5UdOuCf9S/5U02k4XHlMCPavXFa3LY8tfyqXy7Q8mFM/wC7QB401vMByjD8Kg8uQ/wHj2r2iW1sZhtaCMj/AHap/wBh6WMt5KjNAHk6q2M4IoIzXqP/AAimmybmUEbv0rNufAyE5hmH4igDz/kHFLk+tdc/ge73na6Gs+58Kajbk4h3D1FAHP7uasw881JLpF3E3zwuPwp0cLIMFSPwoAeQDTtoC0oUkdKkKZTNAFUHnFIU3Ghsq3Q0/nbQBBJED1pijYKmIJamleelAEYGaU4Ap+zikCZOKAJLdhUz/NxTooQFqTyzmgCssa5pX2xrUjDbmqsu5h900AVy437sVIJc1H5T5+6amitJpMKqEn6UAKpyaldWZdoXNbWneF7ufaZF2j3rrbHQLKzCtIodx60AcHp2iXk8gKxEDPUiu3sdFgtI1aUB39+lajvbx8ABfpVR5i5IU8UAWWnCJtQBfpVVmJPJzTAuT8xJqeGNifu/iaAIeh6fnVhHVRwuTUrWy9zmnqiqOlAEOZJD6CrAB24Y0dOlJmgB2cDikJpuaSgBSabmjNJQAUUUUAFFFFABRRRQAV4R+0h/zLP/AG9f+0a93rwj9pD/AJln/t6/9o0AeD0UUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAHvH7N/8AzM3/AG6/+1q93rwj9m//AJmb/t1/9rV7vQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAuadmmUUAShqODUeaXNAAY/SmMGXpUm6lzQBAssqtzyKc07f3akwvcUpVTxQBVeY9s0qXLgfMan8taQxKRQBGLjPOaeJc96TycdqDGewoAZNbx3I+cAiqh0aDPAq8FcDpTgJPSgDLfQ4j04qJtAVj1Nbfz+lL8/pQBgHQFx940i6AM/eP5V0I3elLh/agDETw7GR8zmpP7AgH8ZrWG/uadtz3oAz7fTILc5AJ+tXcKv3VApwHqaU7aAK8iK5yVBpAdvAFWPloKrQBVZ3Pb9KbmTGeauDAoLAjGKAKR8w+tOQy5qzhfSjC0AQsJT0aomtnPOatjilzQBSFq+amSPHGKnzRmgCNo1I6YpFjXGKkPNHFACiJAOlBVMdKOMUlAEZdQeFp4lGOVpcDNGBQAKydlqGZC4woNTjAp26gCsnmImADUqTPjBXBqXdSZFACFmHQUZcjkU/cPSlD4oArNCsnVFP1FULnTICTm3U+4rZ3D0o+U0AcpJo1uxO1Cv4VA2iKAcH8xXYeVGeo5oMEbDBoA87m0i43/ALtA30FQyWVzFw8JH4V6MLKMHjFPa0RxhgD+FAHlxjcHlP0qBw2eF/SvUX0e0kHzRL+VQf8ACPWP/PIUAeZqHJwV/SpFjfIwn6V6SPD1iDnyxUqaPaJ92MD8KAOBhtbhsYjP5VcTSryTpEfyru1tIlGAKd5KduKAOHXw7eO3zKAKuR+FCcbpMV1gjVf4iaQxr6mgDnovDNun3zmtCDT7O1HyIufU1f8AKXPU00wx5zigCESqOFqNvNkPHFWRGgPSlyB0oApm2zy3JqVLdQMkVMTSZoAb5ag5p3TpSZpKAHZpM03NGaAFozTaKAFzSUUUAFFFFABRRRQAUUUUAFFFFABXhH7SH/Ms/wDb1/7Rr3evCP2kP+ZZ/wC3r/2jQB4PRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB//Z
      scale_x: 0.03125
      scale_y: 0.03125
  PaPanoClassificationResponse:
    title: PaPanoClassificationResponse
    required:
    - request_id
    - predicted_class
    - scores
    - messages
    type: object
    properties:
      request_id:
        title: Request Id
        description: A unique identifier corresponding to the original measurement
          request. A value of 0 indicates that the result will not be stored in the
          database.
        type: integer
      predicted_class:
        title: Predicted Class
        description: The predicted classification label for the panoramic image (e.g.,
          'periapical film', 'panoramic x-ray', 'other').
        type: string
      scores:
        title: Scores
        description: The confidence score (probability) associated with the predicted
          class, ranging from 0.0 to 1.0.
        type: number
      messages:
        title: Messages
        description: Status or informational message. If successful, result in empty
          string.
        type: string
  PaSegmentationCvatResponse:
    title: PaSegmentationCvatResponse
    required:
    - request_id
    - yolo_results
    - messages
    type: object
    properties:
      request_id:
        title: Request Id
        description: A unique identifier corresponding to the original measurement
          request. A value of 0 indicates that the result will not be stored in the
          database.
        type: integer
      yolo_results:
        $ref: '#/definitions/src__allocation__domain__pa_dental_segmentation__schemas__CvatSegmentations'
        description: Segmentation results containing CVAT shapes object. Note that
          in CvatSegmentation, it is necessary to add a mask key by converting the
          points into a mask.
      messages:
        title: Messages
        description: Status or informational message. If successful, result in empty
          string.
        type: string
  PaSegmentationRequest:
    title: PaSegmentationRequest
    required:
    - image
    type: object
    properties:
      image:
        title: Image
        description: A Base64-encoded periapical (PA) radiographic image, commonly
          referred to as a bitewing film, used for decompoisition assessment e.g.
          caries area
        maxLength: 10000000
        minLength: 1
        type: string
    example:
      image: /9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAPABQADASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD5/ooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA94/Zv/AOZm/wC3X/2tXu9eEfs3/wDMzf8Abr/7Wr3egAooooAKKKKACiiigAooooAKKKKACiiigAoopcUAJRinAU7bQAzFLin7adsoAjxRipfLpfL9qAIsUuKm8s0vl0AQYo21Y8ul2CgCvto21Y2Cl2j0oAr7TRsqxgUYFAFfZRsNWNo9KNo9KAK+yjYasYFLigCv5dHlmrGKKAK3l0bKs0UAVtlLsqxRQBX2UmyrNFAFbZRsNWaKAK3lmjZVmkwKAK+yjZVjApaAK/lmk2VZooAg8v2o8v2qeigCv5dL5dT0UAQ+UaXyqlooAi8ulEdSUUAR+X70eXUlFAEfl0uyn0UAN2CjYKdRQAm0UbRS0UAJtFG0UtFADdoo2Cguo6mkEqEZBoANgpPLp4IIyKWgCLy6QpTmnjXqaZ9pQng0AIUpNlSJNG/APIp42npQBX2Gk2mrI2k4o2CgCrtpNtWjGKaYqAK+KTFTmM1GVoAjxSU8ikoAbRS4pKACiiigAooooAKKKKACiiigArwf9pADPhk4GT9qGf8Av1XvFeEftIf8yz/29f8AtGgDweiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA94/Zv/5mb/t1/wDa1e714R+zf/zM3/br/wC1q93oAKKKKACiiigAopKKAFopKWgAooooAKXFKBTwlADQKcFqVY6fhVGTj8aAIxHTxHS+amcBhT6AG7QKXA9KWmmRQcEigBSyr1IFRvME9D+NNuU3LkE/hUEUIf8Ahc/71ADnv0U4GPzpjanGB95c/WobjSy7Bk2rWbNoFxJMWEo2+gFAGumqQ5wzpn60rXuQXR02isGXw1cyENHMVx1GKgutJ1aCLZbo0qnqA2KAN86ooIzLH+dD6vGoz5iCuOj0XXJW/wCPMpz1Z614vDl86gSrEP8AgZNAG5/a8J6SpTRqyMeGGKzl8PeQjF5Ywe2Kkt4tLSQW8t7D9oPRN4B/KgC82qKjgF1waf8A2tCq5Zh+FUptEeZ9wdCB0qa20uKNdly0be3FAE39s25XIYCkOswKBk8mq14mi2gLz3EMQHq4FYVz4j8KwZzqdqR/10FAHQya1GHxv49qcutQhcls1yB8XeEYxltQtzn0cUxfFPhCVh/xM4R7bxQB2X9vW+cD+dSrrdmWCl8E1w0uteFJPmi1qFP+2gp9vq/hpjga1AW9TIKAO7bU7VRnzRRHqdrJ/wAtVH41yF1JpbwAwata7iOMyCuTu7q4tpi0V7ZuPaWgD2BruBRlpVA+tQHV7If8txXjk/iTU+Pnt2A9HqJdf1UvwkBGOz0AezDWrMnhz+VNOs24GcGvJYNd1U/MsEJ/4FUz+KdWjfabNCfrQB6kutwOcKrE1YN6rKD5bc+teXW3ifVTJ8mng5GeBU8njbXok50pv++TQB6W2oQR43EjNRXOprBHvRd+egFebR+JNevCGGmjB9R0qw2r6+ik/ZogF9aAO6XV55FytswPvUsd5csMsgGe1cNH4o14LgRQdOxqnN4q8Q+cVRYF+rCgD06K4J4cjPpT0kdyegryv+3dczue7s0z1+fpViDXruQfvtbtY8ejigD0szCMHe3T0qlNrUULEbC30rze48QW3m7X8SwgjrhxVZvF2h20g87XBKR6HigD02LX4ST5qMo7VOut2BXcZwvsa8lufiL4aiU4vXk47Vz918QfDLZIa6Zj6GgD3S48QWSLmK4jcjquaj/4SBNu7YOnc189S/EbRUbMNpcN/vPUL/FG3PC2jgf79AH0GuvyTviMxgemeasnUmUKZXAz6189W/xbSybdBbEH3qcfG2Z5VM1oGUdaAPfX121gOZLiMfjTH8XaQvS8iz3y1fP198X47tSv2BQv1rnJvGtvM7Mbdxn0agD6Xk8a6crEi8h2j3pr+OdKYf8AH3GPoa+aF8UaeYz5iTlj0w1V/wDhJrUfdik692oA+m5PGem8FL0AfWpF8caSDlrrcPSvmY+NAqhUt+O/NR/8JpIGyIePTdQB9NzeOtOPzRXKqAOhFVT4/sXQj7UgPrXziPHEnRocj03VLF40hCsHtgc/SgD36TxrbLhlvEb8aI/GP2h8QSKzegavBYPFenmTMsTjPYCtK18YaRaz+ZEHBH96gD3+11+VrZi2RMPuqO9VJNe1Q/8ALJufSvKofihbcBZlT1IFb2l/EnSi+JNQzn+8BgUAdlFqV/MTmKTnvWjam4zlpgPYmjQvE+iahECl7bNn/aFbRj0pz5vmQc/xbxQBHZ27s25pfyrRCMCNrDFUZdV0qzXabiBQP9oVnT+LtJER2ahAhH+0KAOjwBzSKD1Jrh73xvbiBhDfWxbsS+Ky7Px9Ij7XvbVuem7NAHp1FctZeM7O5HzTQgjr81bVlq9lfKfKnjJHbeKAL9NKg0oYHoQaWgCFo6jK1appUGgCpikqdkxURFADMUlOpCKAEoooHWgBT0pKdTaACiiigArwj9pD/mWf+3r/ANo17vXhH7SH/Ms/9vX/ALRoA8HooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPeP2b/+Zm/7df8A2tXu9eEfs3/8zN/26/8Atavd6ACiiigApKKKACiiigApRQBTwtACAU8LmnKlTKmKAI1jqUKFFRyzrHkDlqgSWWVvUHtQBbJ4+Uio5YPNxlqVVVB87Dj3rH8QeKbHQbRpZZFZ8fKgPWgDW2Q2673ZVA7scVynib4hadoEXyMs0nseK8e8U/EjUdWmdRM0UPZFOK8+v9WuLo7ZJGYe5oA9luPjWsu7EbJjptrFf4xTeeH/AHmAehNeQl2z1phYk0Ae6R/HVBHiSBifp/8AXq/B8e9NSH99bSs/sB/jXzs2aaTigD6RHx90fHNrNn6D/GmSfH/SAnyWkxb04/xr5wNNINAH0BN+0HAWHl6e+O+WrPvv2hLvzP8AQ7CMIP75zXhuKMcUAe1f8NDar5ePsFvu9eazb749eJLmFo4VhgLfxIvIrybFP4x0oA6W7+IPia9l3y6tc59pCKy/+Eg1RrsXLXsxmByGLnNZuKB1oA6q2+Inie0bMWrXIyOhkJqpceNPEFxcmeTU7kyHuJDWC3UUlAF+51rUbpiZryZyeu5yaptNKesjH8abSYzQA7zXP8Z/OjzXHRz+dNxSgCgBfOk7O350onlHIdvzpuKSgCb7bcDpNIP+BGl+33XaeT/vo1XxRigCz/aN2OlxJ/30akXWdQX7t3KP+BmqRFIOO1AGpH4i1SL7l5KD/vGpx4t1gHd9skJx3NYoXLU50A6HNAHRWvj7XbTHl3R69xWk3xV8QPAYnlQ5/i281xO0U0igDtLX4na7bHiYEehpt78TvEN4hT7TsU9lFcXirNravM2EXcfSgDTk8Xa2/W/mH0bFVX1/VJPv3s5+rmqk0DwuVdcEVDigC02p3r9bmU/8DNR/bLg/8tX/AO+qix2pdooAUzyHku350m9z1Y/nSY5p2RigBN57k0mTQeTRjigBOTSigCloAMU3GaXvTqAGEUu3jmnd6TnNACUUuKD0oASjFOFIetACYozS44pKADJpKXrRQA3J9aUMw6E0tJQBPHeXNvgxzOv0arQ8Qart2/bp9o7eYaz8cUmKAL0mtahL9+7mP1c1D9uuTx50n/fVVyOKUCgCx9snPWV/zqeO9nXkSt+dUqkHSgDQXWLyPpO//fRq/YeL9TsJQ8VzIPbca58mo2NAHtHh74v3CFI7xyD2YGvYvDnjez1mNB5qFj3Br40DEcg1s6N4kvtHuVlgmYYOcZoA+3wQwyDkGlryDwH8XbTU0js9QYRy9AxNesJdRSRrIrAo3Rh0NAE/WomT0p28A4Y9ehp9AFVlqOrTpUBFAEeKMUtFABTadTaACiiigArwj9pD/mWf+3r/ANo17vXhH7SH/Ms/9vX/ALRoA8HooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPeP2b/+Zm/7df8A2tXu9eEfs3/8zN/26/8Atavd6ACiikoAKKKKACnCinAUAAFSquaEXNTgACgAVcCoriUxp8vLHpQ8hY7Y+T3NMlMVvG01w4CqMkk0AU0t5pmYyfIvc1nar4i0/wAPQkyTLx781wnjf4rJbmSz0wgsOC9eMan4gvtUmL3M7Pk9CaAPVfEPxTM7stkT6ZzxXnmqeJbi+ctNKzMfU1zZnbpk0xskZzQAs8rStmqxU1ITikJzQBGRxUDE56VZzUbKDQBXzTGqbbTWTigCLNFOKH1pu00AJScU7FITQAlFITS9KADFKOtNzShsGgBzdqTihjmm54oAcD7UGm9KM0ALmjvTc+9KDk0AOpKM03dQAueaO9JmjdQA7IzTSeaTPNGaAF57U7NMBo3c0APJ9KbmjdSZoAWr+mXYtbgMfu96zieaXdigDa1ye2nlV4O45rGo3E8E0h4OM0ALQKQGlDUABwKTNFIaACl3DNNzRmgB/GeKM00GjNAD8Cimg0tABS5puRmm55oAeaSkzRnmgBc0ZpKCaAFzSdKAaQmgB1FJmlBoAMUUZzS5oAKQUZpaADFKBShhikLUAGKU0gNOoAQCkYUtITxQAwikxTs5pDQBLDcSW8geNirA5BBr2X4bfFmSzePTNXkL27fKrN/DXieaRXZGBU4IoA+7LG8jvoVaNg8LDKMKurlDhjkdjXgnwS+IH/MD1GcY/wCWRc/pXvjOAm8cr7UAPqJ0qQEEAjvSkZoAqEUyrDpURFADKQ9aWkNACUUUUAFeEft
[...]
