swagger: '2.0'
info:
  title: Dental X-ray Inference API
  description: API to infer information from dental X-ray images.
  version: 1.0.0
host: api.smartsurgerytek.net
basePath: /dentistry-stg/
schemes:
- https
paths:
  /:
    get:
      summary: Read Root
      operationId: read_root__get
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful Response
          schema:
            title: Response Read Root  Get
            type: string
  /v1/pa_measure_dict:
    post:
      summary: Generate Periapical Film Measure Dict
      operationId: generate_periapical_film_measure_dict_v1_pa_measure_dict_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PaMeasureRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/PaMeasureDictResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pa_measure_cvat:
    post:
      summary: Generate Periapical Film Measure Dict
      operationId: generate_periapical_film_measure_dict_v1_pa_measure_cvat_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PaMeasureRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/PaMeasureCvatResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pa_measure_image:
    post:
      summary: Generate Periapical Film Measure Image Base64
      operationId: generate_periapical_film_measure_image_base64_v1_pa_measure_image_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PaMeasureRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/ImageResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pa_segmentation_yolov8:
    post:
      summary: Generate Periapical Film Segmentations Yolov8
      operationId: generate_periapical_film_segmentations_yolov8_v1_pa_segmentation_yolov8_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PaSegmentationRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/PaSegmentationYoloV8Response'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pa_segmentation_cvat:
    post:
      summary: Generate Periapical Film Segmentations Cvat
      operationId: generate_periapical_film_segmentations_cvat_v1_pa_segmentation_cvat_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PaSegmentationRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/PaSegmentationCvatResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pa_segmentation_image:
    post:
      summary: Generate Periapical Film Segmentations Image Base64
      operationId: generate_periapical_film_segmentations_image_base64_v1_pa_segmentation_image_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PaSegmentationRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/ImageResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pano_caries_detection_image:
    post:
      summary: Generate Pano Caries Detection Image Base64
      operationId: generate_pano_caries_detection_image_base64_v1_pano_caries_detection_image_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PanoCariesDetectionRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/ImageResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pano_caries_detection_dict:
    post:
      summary: Generate Pano Caries Detection Dict
      operationId: generate_pano_caries_detection_dict_v1_pano_caries_detection_dict_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PanoCariesDetectionRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/PanoCariesDetectionDictResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pa_pano_classification_dict:
    post:
      summary: Generate Pa Pano Classification
      operationId: generate_pa_pano_classification_v1_pa_pano_classification_dict_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PaSegmentationRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/PaPanoClassificationResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pano_fdi_segmentation_yolov8:
    post:
      summary: Generate Fdi Panoramic Xray Segmentations Yolov8
      operationId: generate_fdi_panoramic_xray_segmentations_yolov8_v1_pano_fdi_segmentation_yolov8_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PanoSegmentationRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/PanoSegmentationYoloV8Response'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pano_fdi_segmentation_cvat:
    post:
      summary: Generate Fdi Panoramic Xray Segmentations Cvat
      operationId: generate_fdi_panoramic_xray_segmentations_cvat_v1_pano_fdi_segmentation_cvat_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PanoSegmentationRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/PanoSegmentationCvatResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pano_fdi_segmentation_image:
    post:
      summary: Generate Fdi Panoramic Xray Segmentations Image Base64
      operationId: generate_fdi_panoramic_xray_segmentations_image_base64_v1_pano_fdi_segmentation_image_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PanoSegmentationRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/ImageResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
  /v1/pa_aggregation_images:
    post:
      summary: Aggregate Pa Images Base64 Dict
      operationId: aggregate_pa_images_base64_dict_v1_pa_aggregation_images_post
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/PaMeasureRequest'
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/CombinedImageResponse'
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
      produces:
      - application/json
definitions:
  CombinedImageResponse:
    title: CombinedImageResponse
    type: object
    additionalProperties:
      type: string
  CvatSegmentation:
    title: CvatSegmentation
    required:
    - confidence
    - label
    - type
    - points
    type: object
    properties:
      confidence:
        title: Confidence
        type: number
      label:
        title: Label
        type: string
      type:
        title: Type
        type: string
      points:
        title: Points
        type: array
        items:
          type: integer
  CvatSegmentations:
    title: CvatSegmentations
    required:
    - class_names
    - yolov8_contents
    type: object
    properties:
      class_names:
        title: Class Names
        type: object
        additionalProperties:
          type: string
      yolov8_contents:
        title: Yolov8 Contents
        type: array
        items:
          $ref: '#/definitions/CvatSegmentation'
  DentalMeasurements:
    title: DentalMeasurements
    required:
    - side_id
    - CEJ
    - ALC
    - APEX
    - CAL
    - TRL
    - ABLD
    - stage
    type: object
    properties:
      side_id:
        title: Side Id
        description: Side ID must be a non-negative integer
        minimum: 0.0
        type: integer
      CEJ:
        title: Cej
        maxItems: 2
        minItems: 2
        type: array
        prefixItems:
        - type: integer
        - type: integer
      ALC:
        title: Alc
        maxItems: 2
        minItems: 2
        type: array
        prefixItems:
        - type: integer
        - type: integer
      APEX:
        title: Apex
        maxItems: 2
        minItems: 2
        type: array
        prefixItems:
        - type: integer
        - type: integer
      CAL:
        title: Cal
        description: CAL must be a non-negative float
        minimum: 0.0
        type: number
      TRL:
        title: Trl
        description: TRL must be a non-negative float
        minimum: 0.0
        type: number
      ABLD:
        title: Abld
        description: ABLD must be a non-negative float
        minimum: 0.0
        type: number
      stage:
        title: Stage
        enum:
        - '0'
        - I
        - II
        - III
        type: string
  HTTPValidationError:
    title: HTTPValidationError
    type: object
    properties:
      detail:
        title: Detail
        type: array
        items:
          $ref: '#/definitions/ValidationError'
  ImageResponse:
    title: ImageResponse
    required:
    - request_id
    - content_type
    - image
    - messages
    type: object
    properties:
      request_id:
        title: Request Id
        type: integer
      content_type:
        title: Content Type
        type: string
      image:
        title: Image
        type: string
      messages:
        title: Messages
        type: string
  Measurements:
    title: Measurements
    required:
    - teeth_id
    - pair_measurements
    - teeth_center
    type: object
    properties:
      teeth_id:
        title: Teeth Id
        type: integer
      pair_measurements:
        title: Pair Measurements
        type: array
        items:
          $ref: '#/definitions/DentalMeasurements'
      teeth_center:
        title: Teeth Center
        maxItems: 2
        minItems: 2
        type: array
        prefixItems:
        - type: integer
        - type: integer
  PaMeasureCvatResponse:
    title: PaMeasureCvatResponse
    required:
    - request_id
    - measurements
    - message
    type: object
    properties:
      request_id:
        title: Request Id
        type: integer
      measurements:
        title: Measurements
        type: array
        items:
          type: object
      message:
        title: Message
        type: string
  PaMeasureDictResponse:
    title: PaMeasureDictResponse
    required:
    - request_id
    - measurements
    - message
    type: object
    properties:
      request_id:
        title: Request Id
        type: integer
      measurements:
        title: Measurements
        type: array
        items:
          $ref: '#/definitions/Measurements'
      message:
        title: Message
        type: string
  PaMeasureRequest:
    title: PaMeasureRequest
    required:
    - image
    type: object
    properties:
      image:
        title: Image
        maxLength: 10000000
        minLength: 1
        type: string
      scale_x:
        title: Scale X
        default: 1.0
        type: number
      scale_y:
        title: Scale Y
        default: 1.0
        type: number
    example:
      image: ',/9j/4AAQSkZJRgABAQEAYA......'
      scale_x: 0.0234375
      scale_y: 0.0416666
  PaPanoClassificationResponse:
    title: PaPanoClassificationResponse
    required:
    - request_id
    - predicted_class
    - scores
    - message
    type: object
    properties:
      request_id:
        title: Request Id
        type: integer
      predicted_class:
        title: Predicted Class
        type: string
      scores:
        title: Scores
        type: number
      message:
        title: Message
        type: string
  PaSegmentationCvatResponse:
    title: PaSegmentationCvatResponse
    required:
    - request_id
    - yolo_results
    - message
    type: object
    properties:
      request_id:
        title: Request Id
        type: integer
      yolo_results:
        $ref: '#/definitions/CvatSegmentations'
      message:
        title: Message
        type: string
  PaSegmentationRequest:
    title: PaSegmentationRequest
    required:
    - image
    type: object
    properties:
      image:
        title: Image
        maxLength: 10000000
        minLength: 1
        type: string
    example:
      image: ',/9j/4AAQSkZJRgABAQEAYA......'
  PaSegmentationYoloV8Response:
    title: PaSegmentationYoloV8Response
    required:
    - request_id
    - yolo_results
    - message
    type: object
    properties:
      request_id:
        title: Request Id
        type: integer
      yolo_results:
        $ref: '#/definitions/YoloV8Segmentation'
      message:
        title: Message
        type: string
  PanoCariesDetectionDict:
    title: PanoCariesDetectionDict
    required:
    - boxes
    - labels
    - scores
    type: object
    properties:
      boxes:
        title: Boxes
        description: Bounding boxes in [x_min, y_min, x_max, y_max] format
        type: array
        items:
          type: array
          items:
            type: integer
      labels:
        title: Labels
        description: Class labels for each detected object
        type: array
        items:
          type: integer
      scores:
        title: Scores
        description: Confidence scores for each detection
        type: array
        items:
          type: number
      error_messages:
        title: Error Messages
        description: List of error messages, if any
        type: string
        x-nullable: true
  PanoCariesDetectionDictResponse:
    title: PanoCariesDetectionDictResponse
    required:
    - request_id
    - pano_caries_detection_dict
    - message
    type: object
    properties:
      request_id:
        title: Request Id
        type: integer
      pano_caries_detection_dict:
        $ref: '#/definitions/PanoCariesDetectionDict'
      message:
        title: Message
        type: string
  PanoCariesDetectionRequest:
    title: PanoCariesDetectionRequest
    required:
    - image
    type: object
    properties:
      image:
        title: Image
        maxLength: 10000000
        minLength: 1
        type: string
    example:
      image: ',/9j/4AAQSkZJRgABAQEAYA......'
  PanoSegmentationCvatResponse:
    title: PanoSegmentationCvatResponse
    required:
    - request_id
    - yolo_results
    - message
    type: object
    properties:
      request_id:
        title: Request Id
        type: integer
      yolo_results:
        $ref: '#/definitions/CvatSegmentations'
      message:
        title: Message
        type: string
  PanoSegmentationRequest:
    title: PanoSegmentationRequest
    required:
    - image
    type: object
    properties:
      image:
        title: Image
        maxLength: 10000000
        minLength: 1
        type: string
    example:
      image: ',/9j/4AAQSkZJRgABAQEAYA......'
  PanoSegmentationYoloV8Response:
    title: PanoSegmentationYoloV8Response
    required:
    - request_id
    - yolo_results
    - message
    type: object
    properties:
      request_id:
        title: Request Id
        type: integer
      yolo_results:
        $ref: '#/definitions/YoloV8Segmentation'
      message:
        title: Message
        type: string
  ValidationError:
    title: ValidationError
    required:
    - loc
    - msg
    - type
    type: object
    properties:
      loc:
        title: Location
        type: array
        items:
          type: string
      msg:
        title: Message
        type: string
      type:
        title: Error Type
        type: string
  YoloV8Segmentation:
    title: YoloV8Segmentation
    required:
    - class_names
    - yolov8_contents
    type: object
    properties:
      class_names:
        title: Class Names
        type: object
        additionalProperties:
          type: string
      yolov8_contents:
        title: Yolov8 Contents
        type: array
        items:
          type: array
x-google-backend:
  address: https://api.smartsurgerytek.net/dentistry-stg/
securityDefinitions:
  api_key:
    type: apiKey
    name: apikey
    in: query
security:
- api_key: []
